[2020-06-14 18:15] craffel commented on #210
Ok. Assuming that your T5 and Mesh TF library code (and gin files etc) are completely unmodified, my best guess is that this is because you are effectively using a batch parallelism of 512 (because of no model parallelism on a 16x16 slice) and I think the batch size is probably defaulting to 1024 tokens per batch: https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/

[2020-06-15 20:51] sshleifer opened #265 "Summarization Checkpoints"
Two questions about finetuning T5 for seq2seq tasks:

1) Do you guys plan to release/know of any t5 checkpoints that are finetuned on summarization tasks or translation tasks?

2) In table 2 of the t5 paper, would it be correct to say that the top row is finetuned t5-large and the 3rd row is finetuned t5-base?
![image](https://user-images.githubusercontent.com/6045025/84704732-433f5c80-af28-11ea-9

[2020-06-16 13:46] sshleifer opened #266 "Should I use t5v1.1, t5narrow and TalkingHeads?"
Are there metrics (or guesses) available on the efficiency and/or performance improvements of the [new checkpoints](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/released_checkpoints.md)?

I'm trying to determine whether it would be valuable to support them in huggingface/transformers.

[2020-06-17 08:08] jinoobaek-qz commented on #64
https://github.com/google-research/text-to-text-transfer-transformer/pull/268

[2020-06-17 12:41] ritvik1512 opened #269 "Training T5 from scratch on a new language?"
Hi I was wondering if there are any guidelines or documentation as to pre-training T5 from scratch (not just to any particular downstream task) in a new language?

Also is it possible to do the same with PyTorch under the current framework?

Please let me know if this is not the right place to discuss this, thank you!

[2020-06-17 12:46] ritvik1512 commented on #269
I did refer to issue #172 for this, but that just seems to be initializing it for fine-tuning on a specific task?

[2020-06-17 14:12] agemagician commented on #269
Check this:
https://github.com/google-research/google-research/tree/master/t5_closed_book_qa

[2020-06-17 14:19] ritvik1512 commented on #269
I'm sorry if I am missing something, but isn't this training specifically for the QA task?

[2020-06-17 17:40] agemagician commented on #269
Check aslo this:
https://github.com/google-research/text-to-text-transfer-transformer/issues/253

[2020-06-18 19:16] marcospiau opened #270 "SentencePiece model_type used on paper"
Hi guys. First of all, thanks for sharing you work with us.

I'm trying to use SentencePiece to generate a custom vocab in another language, but keeping the parameters you used.
Do you know which ```model_type``` you used on the training your SentencePiece vocab? The default ```model_type``` is ```unigram```, and the other ones available  are ```bpe```, ```char```, or ```word```.

Thanks in advanc

[2020-06-19 09:19] alexgaskell10 commented on #265
I would also like checkpoints for models fine-tuned for summarisation, particularly CNN/DM.

[2020-06-19 17:51] adarob commented on #64
Fixed by #268

[2020-06-19 17:51] #64 closed

[2020-06-19 17:57] adarob commented on #270
We used the default (`unigram`). The only options we changed are the following:

[code]

[2020-06-19 17:57] #270 closed

[2020-06-20 00:39] marcospiau commented on #270
Thank you @adarob !!

[2020-06-20 04:46] ritvik1512 commented on #269
Hi, thanks for the link. Did you guys perfork unsupervised pre-training these models from scratch on this dataset?

Any ideas on how this would shift to a new language? (Also if there is any chance I could make it work with Pytorch)

Sorry about the series of questions, but thanks for the help!

[2020-06-20 08:53] jinoobaek-qz opened #271 "pretrained model gin file seem to have a bug"
[code]

If I don't do this, the command shown in the README.md (shown below) does not start with the pretrained model.

[code]

[2020-06-20 16:47] huseinzol05 commented on #269
I pretrained t5 base and small on Malay language (Malaysia), all steps in here, https://github.com/huseinzol05/Malaya/tree/master/pretrained-model/t5

I increased input and output length to 1024.

[2020-06-20 16:57] ritvik1512 commented on #269
@huseinzol05 that is extremely helpful and very close to what I am looking for, thanks for taking the time to share the details!

[2020-06-22 08:32] traumasv commented on #269
@ritvik1512  I was able to get the pytorch model going and here's my team's notebook:

https://colab.research.google.com/github/jameschartouni/arabic_translation/blob/google-t5/Model_1.ipynb#scrollTo=UL5yLXs4YJw7

but I'm still trying to figure out how the operative_config.gin should be adjusted when pre-training the  pytorch model.

I know that you guys have only put out the API for fine-tuning p

[2020-06-22 12:53] shamanez opened #273 "What is the maximum input seq length, when using T5-3b model?"
What kind of positional embedding method was used during the training? Is it learned positions embedding? If yes, what is the max length?

[2020-06-22 13:32] adarob commented on #273
It is a relative attention mechanism so you're only limited by length due to memory.

[2020-06-22 13:32] #273 closed

[2020-06-22 13:33] adarob commented on #269
Hey folks. I'm going to work on setting up the unsupervised task to not require the use of gin.

[2020-06-22 14:10] adarob commented on #269
PTAL at #274 and see if it helps.

[2020-06-22 15:04] ritvik1512 commented on #269
@traumasv thanks for sharing the notebook! If I get this correctly, you guys are trying to implement translation for Arabic from scratch?

[2020-06-22 15:08] ritvik1512 commented on #269
Thanks @adarob! If it works well with @traumasv's task, I will be trying to implement the same

[2020-06-22 18:45] #269 closed

[2020-06-23 02:02] shamanez commented on #273
Thanks a lot. So I can use a sequence that has more than 512 tokens as the input to the pretrained T5 model right?

[2020-06-23 02:05] shamanez commented on #28
@craffel

Since T5 is using relative attention mechanisms, is it possible to use sequence lengths more than 512 with pretrained T5, without fine-tuning it?

The answer for my [issue](https://github.com/google-research/text-to-text-transfer-transformer/issues/273) says we can use any sea as the input where the only constraint is the memory.

[2020-06-23 03:32] traumasv commented on #269
Yes that's right

[2020-06-23 04:20] traumasv commented on #269
@adarob Thank you for such a quick reply and solution!

I tried adding the token_preprocessor functions to my tasks and ran training with the API without the gin file and it looks like there's a binding that's missing for 'denoise'..?

Could this be specified in the task.addTaskRegistry() or in model.train()?

[2020-06-23 06:07] craffel commented on #28
Hi, yes, you can use any sequence length you want. Any relative position difference greater than 128 is mapped to the same ("very far away") bucket. We have gone up to 2048 internally.

[2020-06-23 10:08] adarob commented on #269
Which binding is missing? Can you share the error message?

On Tue, Jun 23, 2020, 12:21 AM Hyung Bin Park <notifications@github.com>
wrote:

[2020-06-23 11:51] ritvik1512 commented on #269
@traumasv ah right, I was aiming for a slightly different approach of first pre-training the model on one particular language and then later fine-tuning for downstream tasks, but thanks nonetheless!

[2020-06-24 01:33] traumasv commented on #269
@adarob  here's the link to the cell in our notebook with the error: https://colab.research.google.com/drive/1eOjdqErmzxOED4tbyNddzyCwuqonSvqd#scrollTo=f6f5uUWXWUKw&line=4&uniqifier=1

[2020-06-24 01:39] traumasv commented on #269
Here's the link to the cell with the error:
https://colab.research.google.com/drive/1eOjdqErmzxOED4tbyNddzyCwuqonSvqd#scrollTo=f6f5uUWXWUKw&line=4&uniqifier=1

On Tue, Jun 23, 2020 at 6:09 AM Adam Roberts <notifications@github.com>
wrote:

[2020-06-24 20:07] antoniomastro1996 opened #278 "Problem after last commit"
Hi everybody,
I noticed the following error after the last commit.
Specifically, the exception is raised when I perform the fine-tuning of a model.

Please find below the error and the command that raised the error.

---------------------------------------
FINETUNE_STEPS = 1500000

model.finetune(
    mixture_or_task_name="all_tasks",
    pretrained_model_dir=MODEL_DIR,
    finetune_steps=FINETUNE

[2020-06-24 21:18] adarob commented on #278
@nshazeer PTAL

[2020-06-24 21:46] nshazeer commented on #278
Looking... I guess the topology proto can sometimes have 3 dimensions and sometimes 4.  I will push a fix.

[2020-06-24 22:52] adarob commented on #278
Fixed by https://github.com/tensorflow/mesh/pull/135

[2020-06-24 22:52] #278 closed

[2020-06-26 07:55] agemagician opened #280 "11B model training on TPU V3-512 Crashes during training"
Hello,

We have started large scale training for the 11B model on TPU V3-512, but the model keeps crashing and trying to recover during training:

[code]

The error usually occurs when it tries to save a new checkpoint, when it happens it doesn't store the checkpoint and it reloads the previous checkpoint.

I also notice the loss is heavily affected when this issue occurs, the blue line is the bas

[2020-06-26 10:52] agemagician commented on #280
I have tried both Tensorflow 2.2 and Tensorflow 1.5.13, the problem exist in both of them.

[2020-06-26 12:40] agemagician commented on #280
I have tried mesh-tensorflow 0.1.13 and 0.1.16, the problem exist in both of them.

[2020-06-26 13:44] agemagician commented on #280
This is my current running command:
[code]

[2020-06-26 14:40] agemagician commented on #280
I have also tested it with T5 Large version and the same error occurs:

[code]

[2020-06-26 15:09] agemagician commented on #280
In case its helpful:

[code]

[2020-06-26 15:27] agemagician commented on #280
I think the error locates here:

[code]

How I can increase the number of retry attempts ?

[2020-06-26 15:46] adarob commented on #280
@craffel have you ever seen this error on cloud?

[2020-06-26 17:32] craffel commented on #280
I've never seen this error. 503 would be a service unavailable on your GCS bucket. Assuming this happens intermittently, I think your only options are to increase the number of retries and/or contact Google Cloud for support.

[2020-06-26 17:47] agemagician commented on #280
Thanks a lot @adarob @craffel for your reply.

I don't know how to increase the number of retires.
But, I have changed mesh TensorFlow code and so far I didn't get any errors:
https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/utils.py#L714

I have enabled "restore_sequentially" and disabled "sharded". For some reason when mesh TensorFlow tries to write many files it fails.

[2020-06-27 00:27] craffel commented on #280
Hmm, maybe your account has some kind of limit on how quickly you can do write operations to GCS and you were going over the limit or something. Glad you found a workaround.

[2020-06-27 00:27] #280 closed

[2020-06-27 08:08] hycsie opened #281 "About scoring examples by model.score"
I have encounter the following error message while trying to extract the log-likelihood of target.

/usr/local/lib/python3.6/dist-packages/mesh_tensorflow/transformer/utils.py in <listcomp>(.0)
   1204   result_iter = estimator.predict(input_fn, checkpoint_path=checkpoint_path)
   1205
-> 1206   scores = [m["scores"] for m in result_iter]
   1207   # Remove any padding examples
   1208   scores =

[2020-06-27 17:37] craffel commented on #271
I also noticed this. I'm not sure when it broke. It's because the `None` default from `run` is passed in at calling time which overrides gin. @sharannarang Do you mind updating with the script you use to bulk update the operative configs?

[2020-06-27 17:42] craffel commented on #281
Hi, how is `score_from_strings` being called? Is it via a call to `utils.run`? If so, there must be a codepath where the estimator is not getting built in `"score"` mode (https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/utils.py#L494) before `score_from_strings` is called (https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/utils.py#L2167). @daphnei

[2020-06-27 17:51] craffel commented on #266
Hey Sam, the T5.1.1 checkpoints seem to work a little better on some tasks and a little worse on others (see e.g. https://arxiv.org/abs/2002.08910). The other main difference is that they were pre-trained only on the unsupervised task, so if you want to avoid the (possibly positive or negative) effects of multi-task pre-training you can try these instead.

The Talking Heads models do work a bit be

[2020-06-27 17:51] #266 closed

[2020-06-27 17:54] craffel commented on #210
Is this fixed?

[2020-06-27 17:55] hycsie commented on #281
I simply uses "model.score(inputs=~,targets=~,scores_file=~ )" after loading mtf model checkpoint.
As I trace back the code, it is called from `score_from_strings `.

BTW, it seems that h5 model doesn't support score method.

[2020-06-27 18:03] craffel commented on #281
Yes, it looks like the estimator used by the `score` function of `MtfModel` uses the wrong `mode` (something other than `"score"`). @daphnei can you take a look?

[2020-06-27 18:13] orsk-moscow commented on #210
Hi, @craffel . Unfortunately, I can not reproduce the same experiment because of I do not have such powerful TPU more.

[2020-06-27 18:27] craffel commented on #210
Ok, please re-open if you encounter this issue again.

[2020-06-27 18:27] #210 closed

[2020-06-28 00:51] daphnei commented on #281
Will take a look.

[2020-06-28 22:45] agemagician opened #282 "Training Performance for the 11B Model"
Hello,

Currently, I am training the 11 B model on a custom dataset with the same configuration you used, and the current "examples/sec" is 381 examples only using TPU V3-512.

Could you please share the "examples/sec" for the different models you trained ?

Thanks @adarob and @craffel in advance for your reply

[2020-06-28 22:58] agemagician commented on #210
I had also "Nan" problem when I trained the 11B model using TPU V3-512 on my own custom dataset.
In my case, the issue was the LR. the default initial LR when using 10k warmup is 0.01.
I had to increase the warmup to 40k, which reduced the initial LR to 0.005.
Afterward, everything was running fine.

[2020-06-29 00:34] craffel commented on #282
Hi Ahmed, what is your input/output sequence length? Picking a random past experiment, training the 11B model on input/target sequence lengths of 512 on a v3-128 gives 86 examples/sec, so 381 examples/sec is totally reasonable for a v3-512 (which should be about 4x faster) assuming you are also using length-512 input/target.

[2020-06-29 00:35] craffel commented on #210
Thanks for sharing. @orsk-moscow feel free to try this if/when you try 11B training again.

[2020-06-29 04:17] craffel commented on #281
Thanks @daphnei.

Hi @hycsie, can you confirm that #283 fixes this issue? Thanks.

[2020-06-29 04:36] hycsie commented on #281
Is it merged yes? I tried on reloaded colab, but still get same result.

[2020-06-29 04:47] daphnei commented on #281
It hasn't been merged yet. To test it out, try replacing the line in the colab `!pip install -q t5` with `!pip install git+https://github.com/google-research/text-to-text-transfer-transformer.git1

[2020-06-29 04:52] daphnei commented on #281
To test it out, try replacing the line in the colab `!pip install -q t5` with `!pip install git+https://github.com/google-research/text-to-text-transfer-transformer.git@test_318745950`.

[2020-06-29 06:01] hycsie commented on #281
Hi, I did install from the test branch, while the pulled "mtf_model.py" remains the same.

[2020-06-29 07:31] agemagician commented on #282
Hi Craffel,

Yes, our sequence length is 512/114 (span denoising), but you have trained the 11B for 2**19 and 2**20 steps, correct?
Based on my calculations, it will take 34/69 days to complete these 2**19/2**20  steps.
It takes approximately 5724 seconds to finish 1k steps, so:
5724 * (2**19 / 1,000) seconds to days = 34 days.
5724 * (2**20 / 1,000) seconds to days = 69 days.

Is my calculations

[2020-06-29 11:26] guotong1988 opened #284 "Do T5 have the next-sentence-predict loss?"
Input the previous sentence and predict/generate the next sentence.

Thank you very much.

[2020-06-29 17:15] craffel commented on #284
Yes, it is a text preprocessor: https://source.corp.google.com/piper///depot/google3/third_party/py/t5/data/preprocessors.py;l=1168

[2020-06-29 17:15] #284 closed

[2020-06-29 17:25] craffel commented on #282
In that case, your examples/sec is a little slow. We got about 1100 examples/second with T5-11B on a v3-1024 with 512/114 sequence length (span denoising). Did you cache the task before running? You may be input-bound if not.

We trained T5-11B for 1,000,000 steps on batches with 2^20 tokens (= 2048 examples) each.

Training T5-11B on a V3-1024 for 1,000,000 steps with a batch size of 2^20 took us

[2020-06-29 17:26] craffel commented on #281
I think you may not have actually installed from the branch. Did you start a new kernel before re-installing T5? Feel free to share the colab and we can try it.

[2020-06-29 17:48] hycsie commented on #281
I think it works after I choose to factory reset runtime. Thank @craffel and @daphnei  for the help!

[2020-06-29 17:48] #281 closed

[2020-06-29 18:05] sharannarang commented on #271
I've updated the pretrained models and added the init_checkpoint variable to the t5.1.1 models. Please let me know if you see any issues.

[2020-06-29 18:05] #271 closed

[2020-06-29 18:09] jinoobaek-qz commented on #271
Confirmed with small and 3B. Thanks.

[2020-06-29 21:26] agemagician commented on #282
Thanks for providing this valuable information.

In this case I should get approximetly 550 examples/sec using v3-512.

My current dataset is approximately 150 GB of textual data. I have split it into 6k files and I am reading it using TextLineDataset.

I have tried to cache it by using cache_tasks_main but it didn't work because it is not a TfdsTask:
[code]

Any ideas how to cache it correctly wi

[2020-06-29 21:37] craffel commented on #282
If you are using a TextLineDataset it is probably input-bottlenecked.

You should go ahead and create a custom TFDS, it is not too bad to do and doesn't require uploading anywhere or pushing back to TFDS or anything. https://www.tensorflow.org/datasets/add_dataset

I complained about the fact that task caching requires a TfdsTask to @adarob in the past, maybe we can bully him into fixing this.

[2020-06-29 21:56] agemagician commented on #282
I have used TPU Profiler and it says:
"(1) Your program is NOT input-bound because only 0.0% of the total step time sampled is waiting for input. Therefore, you should focus on reducing the TPU time."

<img width="1127" alt="Screenshot 2020-06-29 at 23 49 13" src="https://user-images.githubusercontent.com/6087313/86059525-37dd4c80-ba63-11ea-835f-285060148f51.png">

I will try to use the instructio

[2020-06-29 21:58] craffel commented on #282
In my (limited) experience, using a TextLineDataset results in lower examples/s (due to being input-bound) substantially before using a cached dataset.

It's really pretty straightforward to create a custom TFDS dataset based on a text file, so it doesn't seem totally mission critical, but it definitely would be convenient. If you have any issues creating the custom TFDS, ping this issue.

[2020-06-29 22:03] agemagician commented on #282
Thanks a lot @craffel for all the help you provided.
I am really grateful for both of you and @adarob .

I will close this issue for now, and I will implement the custom TFDS dataset.
In case it didn't work out or I didn't see any performance increasement, I will reopen it again.

[2020-06-29 22:03] #282 closed

[2020-06-30 01:20] guotong1988 commented on #284
I cannot visit into the site. Could you please capture a screenshot? Thank you!

[2020-06-30 03:08] sharannarang commented on #284
Here's the github pointer: https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/preprocessors.py#L1182

[2020-06-30 04:01] craffel commented on #284
Whoops, I posted the link to our internal copy. I've edited my comment. Thanks Sharan.

[2020-06-30 07:28] guotong1988 commented on #284
![image](https://user-images.githubusercontent.com/4702353/86096736-43258c00-bae6-11ea-93a3-a1c9df02c147.png)

Thank you.

[2020-06-30 07:36] guotong1988 opened #285 "Why T5 do not generate the whole next sentence as one of the pretrain loss?"
T5 has the next-sentence-predict loss.
And the next-sentence-predict loss is not generating the whole next sentence but generating is_next or not_next token.
Why not input the previous sentence and generate the next sentence, instead of input the two sentences?

Thank you very much.

[2020-06-30 18:00] craffel commented on #285
The NSP objective implemented in the t5 library corresponds to BERT's NSP objective, where the goal is to classify whether or not two sentences co-occur. There is no objective in t5 corresponding exactly what you're asking but it would be easy to implement. The closest thing currently implemented in the t5 library is the prefix_lm objective which takes a chunk of text, chops it into two pieces, an

[2020-06-30 18:00] #285 closed

[2020-07-01 01:29] guotong1988 commented on #285
Do you think my idea (input the previous sentence and generate the next sentence) will improve pretraining performance?

[2020-07-01 01:35] guotong1988 opened #286 "Do you think generating the whole next sentence as one of the pretrain loss will improve pretrain performance?"
T5 has the next-sentence-predict loss. And the next-sentence-predict loss is not generating the whole next sentence but generating is_next or not_next token.

Input the previous sentence and generate the next sentence, instead of input the two sentences. Will it improve the pretrain performance?

Thank you very much.

[2020-07-01 01:52] craffel commented on #286
No, I don't think so. What you're describing is not meaningfully different from the prefix_lm objective, which we showed does worse than a MLM objective (see Table 4). The only difference is splitting on sentence boundaries vs. at a random point in a chunk of text. But, feel free to try and let us know!

[2020-07-01 01:52] #286 closed

[2020-07-02 18:26] ulapopov opened #287 "Fine-tune. Command-line. Define a new task."
Fine tuning on a colab or juypyter notebook works fine.
Wanted to fine-tune a model from the command-line. Followed the instructions described in a README file.
https://github.com/google-research/text-to-text-transfer-transformer
I added a new task using --module_import flag.
Inside the module I defined a task:
t5.data.TaskRegistry.add(
    "bioasq_data",
    # Supply a function which returns a tf

[2020-07-02 18:27] ulapopov opened #288 "Fine-tune. Command-line. Parameters order."
Fine-tune a model from the command-line using .tsv file.
Followed the instructions described in a README file.
https://github.com/google-research/text-to-text-transfer-transformer

The script appears to be extremely sensitive to the order of parameters it gets.
The only order that worked for me was:

t5_mesh_transformer  \
  	--tpu="${TPU_NAME}" \
  	--gcp_project="${PROJECT}" \
  	--tpu_zone="${Z

[2020-07-02 18:30] ulapopov opened #289 "Inference. Command-line."
I successfully ran predictions using colabs and jupyter notebooks.
Wanted to run inference from the command-line.
Followed the steps described in README file,
https://github.com/google-research/text-to-text-transfer-transformer ,
“Decode” section.

When I provide input file directly to t5_mesh_transformer as a parameter
t5_mesh_transformer  \
  --tpu="${TPU_NAME}" \
  --gcp_project="${PROJECT}" \

[2020-07-02 18:42] craffel commented on #287
Applying the `@gin.configurable()` decorator to `rel_dataset_fn` will change its args:
[code]
Can you avoid making your dataset function configurable?

[2020-07-02 18:43] craffel commented on #288
It looks like you are missing some `\` in your command. Any flags preceded by a newline that didn't end in `\` will not be included as part of the command. Should be
[code]

[2020-07-02 18:50] craffel commented on #289
I think This is the same issue as #288; you are missing trailing `\` in your bash command.

[2020-07-02 19:27] ulapopov commented on #288
You are right in my post I'm missing all but one '\', but I do have all the '\' in my code.
When I change the order of the parameters, the code breaks. There is only one combination that works for me.

[2020-07-02 19:33] ulapopov commented on #289
I do have the '\' in my code. It's just when I copy-paste it here, the editor automatically removes the '\'

[2020-07-02 20:02] craffel commented on #288
It isn't the '' that you are missing, it's the backslash `\`. If you are missing that, then newlines will result in separate commands. If you have all of the `\`, then there may be some issue with your bash environment, I can't reproduce your issue.

[2020-07-02 20:02] #288 closed

[2020-07-02 20:02] craffel commented on #289
See #288.

[2020-07-02 20:02] #289 closed

[2020-07-02 20:05] ulapopov commented on #288
All the backslashes are automatically removed from my comments :)

[2020-07-02 20:26] ulapopov commented on #287
Yes. Removed the decorator and the code runs. Thanks!

[2020-07-02 20:29] #287 closed

[2020-07-03 18:23] nirnirs opened #290 "Inconsistent Predictions"
Hi,

I ran the t5-trivia Colab for fine-tuning the larger model on TPU.
For some reason I'm getting different results when invoking the same prediction multiple times.
For example, executing a cell with this code:

[code]

Would produce this output:
[code]

Why is that?

[2020-07-03 18:35] nirnirs commented on #290
Failed to notice the temperature argument of model.export(...)
I see now it was set to 1.0 which means to sample according to the predicted distribution.

[2020-07-03 18:35] #290 closed

[2020-07-03 22:16] LeoLaugier opened #291 "Small bug in the API when sending a dataset from a Task on a TPU, copy_plaintext=True and pack=False"
Hi,

This is just to note that in the following case, one can encounter this error:

`TypeError: <dtype: 'string'> is not a supported TPU infeed type. Supported types are: [tf.float32, tf.int32, tf.complex64, tf.int64, tf.bool, tf.bfloat16, tf.uint32]`

1. The **get_dataset** function is from the **Task** class (not the **Mixture** class)
2. copy_plaintext=True when **get_dataset** calls **encode_

[2020-07-04 05:33] marcospiau opened #292 "Frozen variables"
Hi guys,

I'm performing some experiments mainly based on the t5-trivia notebook (https://github.com/google-research/text-to-text-transfer-transformer/blob/master/notebooks/t5-trivia.ipynb). I'd like to know if there are some frozen variables, since the logging outputs show that the number of total variables is not equal to the number of trainable ones. Bellow are the excerpts of interest (small m

[2020-07-06 13:04] iliemihai commented on #133
Any news with with releasing the pretrained model :D ?

[2020-07-06 13:29] adarob commented on #292
@nshazeer can you comment on what the untrainable variables are?

[2020-07-06 13:30] adarob commented on #291
Thanks for diagnosing this Leo! I will look into a fix unless you want to create a PR.

[2020-07-06 14:32] adarob opened #293 "Enable caching of additional task types"
e.g., TextLineTask (#282)

[2020-07-06 15:34] nshazeer commented on #292
The trainable variables are the model parameters.  The "untrainable" variables are the accumulator variables in the (Adafactor) optimizer (i.e. the place where you keep track of the approximate second moments of the gradients).  They are not frozen.  The optimizer does change them.  The whole "trainable" thing is a signal to the optimizer to tell it what are the parameters to optimize.

[2020-07-06 15:43] #292 closed

[2020-07-07 01:00] marcospiau commented on #292
Thank you!!

[2020-07-07 11:57] agemagician commented on #293
This is awesome, thanks a lot @adarob .
I was just going to open a reopen issue #282  because I couldn't integrate TFDS with the T5 Tasks.

[2020-07-07 13:46] agemagician commented on #293
I have tested this commit, and the dataset generation function must include now a new parameter "shuffle" in order to work.
Old:
`def xxx_dataset_fn(split, shuffle_files=True):`
New:
`def xxx_dataset_fn(split, shuffle_files=True, shuffle=False):`

[2020-07-07 14:06] agemagician commented on #293
Hmm, seems to be it doesn't support multithread, even after changing the parameters:
[code]

[2020-07-07 14:11] adarob commented on #293
I just fixed the shuffle issue you pointed out.

Currently, this only parallelizes based on how you've sharded the inputs. So if you have 10 text files, it will run on 10 workers in parallel. I could make it split it out the line by line, but there is more overhead and it's a bigger refactor. Let me see if there is an elegant way to do it.

[2020-07-07 14:16] agemagician commented on #293
Great, thanks for the shuffle fix.

hmmm, in my case, I have 6k files, and it runs a single thread:

[code]

Did I miss something in my code ?

[2020-07-07 14:22] adarob commented on #293
Ah yes, a generic task cannot be distributed, as mentioned in the comment. I could add a warning to this effect as well. If you use a TextLineTask, it will be distributed.

[2020-07-07 16:42] agemagician opened #296 "TextLineTask produces blank inputs and targets"
I am converting my TextLineDataset task "working perfectly fine" to TextLineTask, but the inputs and targets are always blank:

[code]

Output:
[code]

Any idea what is going wrong @adarob  ?

[2020-07-07 16:47] agemagician commented on #296
@adarob  Never mind, after spending a lot of hours, I found out that I was using an incorrect vocab model file.
Sorry 😄

[2020-07-07 16:47] #296 closed

[2020-07-07 17:45] adarob commented on #291
@LeoLaugier what codepath are you using the train the model? These should get filtered out in `mesh_train_dataset_fn`.

[2020-07-07 18:35] #293 closed

[2020-07-07 19:00] adarob commented on #256
FYI, I added an example for creating the docker image in #279. You can see it in Colab here: https://colab.research.google.com/github/google-research/text-to-text-transfer-transformer/blob/master/notebooks/t5-deploy.ipynb

[2020-07-07 19:00] #256 closed

[2020-07-07 20:44] LeoLaugier commented on #291
We work on fine-tuning T5 on self-supervised attribute transfer tasks [here](https://github.com/LeoLaugier/conditional-auto-encoder-text-to-text-transfer-transformer).

So far I use the [Mixture-with-one-Task trick](https://github.com/LeoLaugier/conditional-auto-encoder-text-to-text-transfer-transformer/blob/master/caet5/data/tasks.py#L154), but I'm thinking of letting the responsibility to `mesh_

[2020-07-08 00:44] chuanli11 opened #298 "Reproduce cbqa accuracy"
I've been trying to reproduce the accuracy of close book qa using the released model checkpoints in this repo:
https://github.com/google-research/google-research/tree/master/t5_closed_book_qa#released-model-checkpoints

However, I couldn't get the numbers described in the paper "How Much Knowledge Can You Pack Into the Parameters of a Language Model?" https://arxiv.org/abs/2002.08910

For example,

[2020-07-08 12:02] agemagician opened #299 "Cache Tasks for TextLineTask Runs Sequentially"
I have converted my generic task to TextLineTask in order to cache it, but "t5.data.cache_tasks_main" runs the cache generation sequentially and doesn't use multithreading, even that I have 6k files.

My task looks like:

[code]

My task file like:
[code]

@adarob What did I miss here ?

[2020-07-08 12:53] adarob commented on #299
Can you try setting the paths to be 'gs://xxx/train_*' and 'gs://xxx/valid_*' instead of globbing first?

[2020-07-08 13:18] agemagician commented on #299
Now, it seems there are 40 threads running but the CPU utilization is very low, is it normal  ?

<img width="1440" alt="Screenshot 2020-07-08 at 15 17 07" src="https://user-images.githubusercontent.com/6087313/86923348-34feed80-c12e-11ea-9f32-2e7ba7bd908c.png">

[2020-07-08 13:28] adarob commented on #299
It's probably I/O bound. It may help to copy the files from GCS to the
local machine.

On Wed, Jul 8, 2020 at 9:18 AM Ahmed Elnaggar <notifications@github.com>
wrote:

[2020-07-08 13:51] agemagician commented on #299
Still the same, even after copying the data to local machine.
I will wait until tomorrow, maybe it is processing currently the validation split which is only 1 file, while the training is 6k files.
I will update the issue again.

[2020-07-08 14:00] adarob commented on #299
If you really need it done quickly, I'd suggest running it with DataFlow.

On Wed, Jul 8, 2020 at 9:51 AM Ahmed Elnaggar <notifications@github.com>
wrote:

[2020-07-08 14:11] agemagician commented on #299
I have switched the direct_running_mode to multi_processing and it provides a little bit more CPU utilization but still to slow.
I think, I will have to switch to DataFlow as you recommended.

Thanks again @adarob for your help.

I will close the issue now as it seems there is upper limit to multi-threading with apache beam on local machines.

[2020-07-08 14:11] #299 closed

[2020-07-08 20:36] adarob commented on #298
The issue is that the evaluation in that colab is not the correct one. You should use what's in https://github.com/google-research/google-research/tree/master/t5_closed_book_qa instead.

I just ran the following code:
[code]

And got this result:
[code]

[2020-07-08 20:36] #298 closed

[2020-07-11 19:32] chuanli11 commented on #298
@adarob Thank you.

For those who went into the same problem, the pull request has been merged into the master branch so there is no longer a need to use it in the pip install.

Simply do:
[code]

[2020-07-11 21:13] chuanli11 commented on #298
@adarob Can I also ask the command for finetuning T5 on cbqa? This is what I am currently using

[code]

However it is extremely slow -- takes about **2.5 min** to do one iteration for the smallest model (t5.1.1.small_ssm) on a V3-8 instance. Is this normal?

[code]

Thank you.

[2020-07-11 21:19] chuanli11 commented on #298
@adarob Also, I need to set `mesh_train_dataset_fn.use_cached = 0` and `pack_dataset.use_custom_ops = False`. Otherwise will get these errors when running finetuning:

[code]

[code]

[2020-07-12 19:05] jonadsimon opened #303 "t5-trivia notebook fails to import `google-colab`"
When running `!pip install -q t5` the package `google-colab` fails to install with the message:
[code]

But if I first manually install the (older) compatible version of the `six` package, then the rest of the installation fails.

I'm not sure how to fix this conflicting versioning problem, and for now am simply ignoring the error. However I've noticed that the notebook crashes fairly often, which

[2020-07-13 14:33] adarob commented on #303
Thanks for raising this. It's unlikely the six version is causing the issues you see, but I will raise this with the colab team nevertheless, as I'm not sure why they have their version pinned.

[2020-07-13 14:42] adarob commented on #298
Thanks for pointing this out @chuanli11. I will update the operative configs so this won't be necessary in the future.

[2020-07-13 15:12] adarob commented on #298
Done

[2020-07-13 19:50] jinoobaek-qz commented on #138
@adarob @karishmamalkan checking in. Is there a ball-park estimate of when we might get a solution for TPU inference using SavedModel?

[2020-07-14 06:13] Halli20 opened #304 "Possibility to extract embeddings"
Is there a possibility to extract embeddings after fine-tuning the model to use these learned input representations for a deeper analysis of the model behavior?

[2020-07-14 13:45] adarob commented on #304
Please see #198.

[2020-07-14 13:45] #304 closed

[2020-07-14 13:45] adarob commented on #303
I filed a bug with Colab and they should update their dependencies soon.

[2020-07-14 13:45] #303 closed

[2020-07-14 14:51] adarob commented on #138
Sorry, we are still trying to get support from the TF team to make this possible. @nshazeer may have a better idea of when it could happen.

[2020-07-14 16:32] jinoobaek-qz commented on #138
Thanks for opening the issue and replying.

[2020-07-20 04:08] PROoshio opened #308 "Different bucket_bin(default 32) and max_len(default=32) of relative pos to the perfomance on downstream tasks"
Hello, is there results for different relative position settings, such as bucket_bin and max_len ? Will it perform bertter with larger bucket and max_len?

Thank you very much~

[2020-07-20 13:47] #308 closed

[2020-07-21 07:00] agemagician opened #309 "Unsupervised Training and reduce_concat_tokens"
Hi,

In the "denoise.gin" the "unsupervised preprocessosr" uses "reduce_concat_tokens", which is great to replace padding.
However, after testing it in large scale training, I notice the the model converge very fast compared to Bert and other models I trained on the same dataset.

After some digging, I found a big problem, which I need to confirm from you.
Assuming my dataset looks like:
[code]

T

[2020-07-21 12:11] craffel commented on #309
Your understanding is correct. It doesn't happen that often and it doesn't seem to harm the model in any meaningful way. See https://github.com/google-research/text-to-text-transfer-transformer/issues/95#issuecomment-590551530

[2020-07-21 12:11] #309 closed

[2020-07-21 12:22] agemagician commented on #309
Thanks a lot @craffel for the clarification, but in our case (protein sequences), it is extremely crucial to separate documents (protein sequences).
I have removed "reduce_concat_tokens", from the gin file, and now they are separated correctly.

Thanks again.

[2020-07-21 13:45] craffel commented on #309
I can see why it would be more important for protein sequences! Removing the reduce_concat step makes sense.

[2020-07-22 17:53] agemagician commented on #309
@craffel
Sorry, but I have two more follow-up questions.
1. Are T5 + Mesh transformer will automatically pad the sequences ?
2. Is the generated padding is automatically masked during training ?

[2020-07-22 18:10] craffel commented on #309
Yes.

Yes.

[2020-07-22 18:26] agemagician commented on #309
Thanks, thanks and another thanks for all the help you are providing 👍

[2020-07-23 16:20] ashispapu commented on #269
@ritvik1512 Hey did you try to do the pre training on one language and then fine tune for down stream tasks. I'm also exploring the same, didn't come across any useful resources. Please let me know if you have done any progress.

[2020-07-23 23:38] allen-q opened #311 "How to get a probability for the generated text?"
Hi there,

Thanks for releasing the code and examples for such a great model.

I've followed the example and been able to train a model using my own dataset and everything is working now.

I have one question though, is it possible to get a probability score for the generated text? When I run the the model in prediction mode, I can only see the inputs and outputs text.

[code]

Thanks,
Allen

[2020-07-24 03:28] craffel commented on #311
You can feed the generated text back into the model with the `score` function https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/mtf_model.py#L338

We have been considering adding functionality to provide the log-likelihood alongside the generated samples but are not currently working on it. A PR would be welcome.

[2020-07-24 03:28] #311 closed

[2020-07-24 04:17] allen-q commented on #311
Thanks for the reply, I will take a look to see if I can get it working.

[2020-07-24 07:36] ashispapu commented on #211
@LiweiPeng Hey Did you try to pre train T5 ? if yes, could you share the details.
Thanks.

[2020-07-25 06:03] ashispapu commented on #269
@adarob @traumasv  Is there any fix available for this binding issue ?
` RuntimeError: Required bindings for `denoise` not provided in config: ['noise_mask_fn'] `

[2020-07-25 12:44] allen-q commented on #311
Hi @craffel , I've got the scores by using the score function. However, I can only call this function from the model directly. Once the model is exported and loaded back using tf.saved_model.load, there's only the 'serving_default' signature available which just gives me the generated texts.

I spent quite a bit time to understand how the model export works and I think the serving_default signatur

[2020-07-25 14:13] craffel commented on #311
I see, I didn't realize you were using an exported model. To address your issue I think the best solution would be to have the model generate log-likelihoods alongside samples in `predict` mode, rather than call `score` separately. We have been discussing doing this but have no immediate plans to do so.

[2020-07-25 14:23] craffel commented on #269
`denoise` has no argument `noise_function`, it should use the argument `noise_mask_fn` (see https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/preprocessors.py#L1749). The `functools.partial` call for `denoise`, should be changed to
[code]

[2020-07-26 07:13] allen-q commented on #311
Hi @craffel , yes, we need to run this model for real time predictions with a probability score(or some kine of a confidence score for the prediction). At the moment, I'm planning to run an exported model via TF Serving. Is this the right way to use the model?

I will try to get the score included in the predict function as this will be a must to have feature for us to use this model. Can you plea

[2020-07-26 12:59] craffel commented on #311
You should modify the `sample_autoregressive` and `decode` functions from the Mesh TensorFlow Transformer so that they return both the (sampled) predictions and the log-likelihood.
e.g. `sample_autoregressive` https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/transformer.py#L1009 using the logits computed here in the while loop body function https://github.com/tensorflow/m

[2020-07-27 14:46] adarob commented on #311
Please send a PR when you get this to work or let us know if you need additional help.

[2020-07-27 22:51] udaypk opened #313 "Different output across multiple runs for same input and decode parameters"
We trained a model for a summarization like task. But when we run an inference with MtfModel.predict function with beam_size=1, and temperature=1.0, we are getting different outputs for the same input text. I'm not sure how to set the random seed to a constant so that we get same output for same input across runs.

I found the following Pytorch code https://colab.research.google.com/github/enzoamp

[2020-07-28 01:55] craffel commented on #313
I'm not 100% sure but it should be enough to do
[code]
and also set t5.preprocessors.num_parallel_calls.deterministic = True via gin if you are using a stochastic preprocessor.

[2020-07-28 01:55] #313 closed

[2020-07-28 09:30] udaypk commented on #313
thanks for the suggestion but this is not working. I'm still getting random output.

[2020-07-28 12:02] allen-q commented on #311
thanks @craffel  and @adarob , I will give it a try. How do you debug mtf models and TF code in general? I used Pytorch in the past and find it a bit hard to debug TF code. Any tips will be appreciated!

[2020-07-28 13:09] adarob commented on #313
@nshazeer do you know if this is possible?

[2020-07-28 17:12] marton-avrios opened #314 "Were pre-trained models pre-trained only with unsupervised objectives?"
...or also on multiple different supervised tasks in a multi-task learning fashion? So are prefixes like "translate:" and "summarize:" necessary (or at least useful) if I want to fine-tune one of the downloadable pre-trained models for german to english translation or summarization?

[2020-07-28 20:20] #41 closed

[2020-07-28 21:50] peterjliu commented on #265
Another option is to use the Pegasus checkpoints which have been released https://github.com/google-research/pegasus.

[2020-07-29 02:01] guotong1988 opened #317 "Question of pretraining text-generation task, it seems that pretraining is not work for a small model?"
### What is your question?
My task is to generate keywords from sentences.

I pretrain a text-generation model. I mask the sentences' tokens and predict the whole sentences' tokens.

Pretraining batch_size = 8 and step = 1000000

I haven't observed improvement from pretraining. BLEU score is 10.5 for not pretraining, BLEU score is 9.5 for pretraining.

### Code
I take the python code from

https:/

[2020-07-29 10:11] marton-avrios opened #318 "NotImplementedError in Colab Notebook"
Yesterday it worked fine today when it tries to import `tensorflow_gcs_config` I get
[code]

[2020-07-29 10:22] Voil8 opened #319 "Unable to import tensorflow_gcs_config in t5_trivia colab notebook"
Upon running line `import tensorflow_gcs_config` (in t5_trivia colab notebook, setup section) I get this error,
[code]
`tf.__version__` is '2.3.0'

[2020-07-29 10:31] Voil8 commented on #319
this solved my problem
`!pip install -U tensorflow-gcs-config==2.1.3`

[2020-07-29 10:32] Voil8 commented on #318
try this `!pip install -U tensorflow-gcs-config==2.1.3`

[2020-07-29 10:39] #318 closed

[2020-07-29 12:16] marton-avrios opened #320 "ValueError: `mesh_shape` must be a vector of size 4 with positive entries; got [2 2 2]"
Since yesterday `pip install -q t5` in the colab notebook also installs tensorflow 2.3 (and removes the default 2.2 on Colab). Later when fine-tuning it causes the aforementioned error.

[code]

[2020-07-29 12:21] marton-avrios commented on #320
Temporary solution can be to replace `!pip install -q t5` with `!pip install -q t5 tensorflow-text==2.2`. tensorflow-text relased a new version on 29th July and it now requires tensorflow 2.3

[2020-07-29 13:11] marton-avrios commented on #318
...a better solution would be to replace `!pip install -q t5` with `!pip install -q t5 tensorflow-text==2.2`. It also solves another problem later during fine-tuning. See #320.

[2020-07-29 13:19] adarob commented on #320
@nshazeer looks like mesh tf is broken with tf 2.3

[2020-07-29 13:55] craffel commented on #265
We don't have any plans to release fine-tuned checkpoints, but if you need them for a specific experiment or diagnostic purposes I can send them to you directly, just email me.

[2020-07-29 13:55] #265 closed

[2020-07-29 14:07] marton-avrios commented on #320
Starting from 2.3 tensorflow requires it to be of size 4

[2020-07-29 15:54] craffel commented on #317
Is there any reason you are doing your own pre-training rather than relying on our pre-trained model checkpoints? There are many reasons that pre-training doesn't help. One possibility is that your fine-tuning dataset is so large that it doesn't need pre-training data to achieve reasonable performance (this is what happened with the WMT EnFr dataset in our paper). How big is your fine-tuning task?

[2020-07-29 16:23] craffel commented on #314
The T5 checkpoints were trained on a multi-task mixture of supervised tasks and an unsupervised span-filling task. See section 3.7 of the paper for a description. The prefixes are not strictly necessary, but if you want to take full advantage (in terms of how fast the model converges) of the supervised tasks used during pre-training you should use the same prefixes.

[2020-07-29 16:23] #314 closed

[2020-07-29 17:48] alextp commented on #320
@rxsang have you seen this error before? It seems like some changes in 2.3 broke t5.

[2020-07-29 17:51] marton-avrios commented on #320
mesh_shape should be of size 4 instead of 3 since tensorflow 2.3

[2020-07-29 18:07] nshazeer commented on #320
Does anyone know what code exactly is passing in a 3d shape?

[2020-07-29 18:54] rxsang commented on #320
This behavior is changed in https://github.com/tensorflow/tensorflow/commit/a9e036d99c5e38f4fdf8fc043a626fdd735c4844#diff-cef3a30d8a1a9637b6e6d1c643813259

[2020-07-29 18:59] rxsang commented on #320
Does changing the `mesh_shape` from `[2 2 2]` to `[2 2  1 2]` work? It seem the cl changes the mesh shape from `[x y core]` to `[x y z core]`.

[2020-07-29 19:09] adarob commented on #320
fyi, this same code works internally

[2020-07-30 16:40] marton-avrios opened #322 "b'' around predict output"
`model.predict` outputs `b''` around its predictions in the file. So if you `cat` the file in the terminal you see `b'I am the prediction.'` instead of `I am the prediction.`

[2020-07-30 18:28] craffel commented on #322
This is because text in TF are represented as bytes, so when you grab their value and write it out, Python uses the string representation that includes `b''`. It might get a little messy to avoid this, but I would welcome a PR that fixes it.

[2020-07-30 18:41] marton-avrios commented on #322
But it only happened when I used a CPU. When I predict using a TPU it doesn't write b''.

[2020-07-30 19:05] craffel commented on #322
Interesting, that is not my experience. If you can post a MWE of commands that result in this behavior, we can take a look.

[2020-07-31 00:14] arglog opened #323 "Memory usage of t5_cache_tasks"
Hi T5 authors,

Does the command `t5_cache_tasks` (or the script `cache_tasks_main.py`) keep all intermediate data in memory and only write to disk after all processings are done?

I was catching a text line dataset (~800GB) and found the script didn't write anything to the disk since the start of running, and after 10 hrs, the process's memory usage exceeded the system RAM and the process was kil

[2020-07-31 12:20] adarob commented on #323
We actually run these jobs on a system similar to DataFlow internally at Google, so I'm not familiar with the behavior of DirectRunner wrt to memory. However this statement isn't very promising: https://beam.apache.org/documentation/runners/direct/#memory-considerations.

I'd suggest either using DataFlow (or something similar) or investigating how to avoid memory issues with DirectRunner. Please

[2020-07-31 14:54] marton-avrios opened #324 "eval ignores on the fly gin modifications"
https://github.com/google-research/text-to-text-transfer-transformer/blob/94c913c3616bfe312577b3638d61bbbdc5682f0f/t5/models/mtf_model.py#L264

`eval` reloads model config so I cannot change to beam search for example after model dir (and `operative_config` in it) was created. Is that intentional? Is there a simple way to do it apart from directly calling `mesh_tensorflow.transformer.utils.eval_mo

[2020-08-03 03:01] guotong1988 commented on #317
1, As I am generate keywords, I pad some zeros. The output positions of output tokens should be exactly same to the input tokens, which means keep the padding zeros in the output tokens.

2, The pretraining time should be longer.

[2020-08-03 03:01] #317 closed

[2020-08-03 19:21] marton-avrios opened #325 "How to specify positions manually?"
I want to specify positions for tokens instead of using the order of tokens. I tried to add "inputs_position" but it seems to be ignored.

[2020-08-03 19:33] craffel commented on #325
This is not currently supported; the positions are added manually by the packing and padding code https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/dataset.py#L22
PRs welcome.

[2020-08-03 19:48] marton-avrios commented on #325
In theory is it possible to specify the same position for 2 different tokens? Or will it break relative attention?

[2020-08-03 19:50] craffel commented on #325
Relative attention should just compute a (learned) logit bias according to the "distance" between the two positions, so there should be no issue with duplicate positions (off the top of my head, anyways).

[2020-08-03 23:29] adarob commented on #320
@rxsang any update on this bug?

[2020-08-03 23:48] rxsang commented on #320
It may indicate your Cloud TPU worker (or Colab TPUs) may not be updated to TF2.3, upgrading them to TF2.3 should work.

[2020-08-04 03:31] marcospiau opened #326 "Question about number of parameters on large model"
Hi guys,

I'm performing some experiments with the MtfModel API , initializing the weights with the released pretrained checkpoints, using the models from sizes small, base and large which, accordingly to the github repo, have 60, 200 and 770 million of parameters. I do understand that these numbers are approximations, but on the logging infos for the large models, the approximated total number of

[2020-08-04 05:43] Kevinweisl commented on #319
Hi @Voil8,

`!pip install -U tensorflow-gcs-config==2.1.3` seems to solve this problem last week but it doesn' t work today.

It raises the following error:
[code]

Do you face the same problem?

[2020-08-04 07:24] ashispapu opened #328 "Issue Running T5 in colab TPU"
Hi Team,

I was trying to do a pre training of T5 from scratch on colab. I could see if i install t5 using (pip install t5[gcp]), and tried to connect to execute ` tf.tpu.experimental.initialize_tpu_system(tpu)`, getting  below error.

`InvalidArgumentError: NodeDef expected inputs 'string' do not match 0 inputs specified; Op<name=_Send; signature=tensor:T -> ; attr=T:type; attr=tensor_name:string

[2020-08-04 10:38] agemagician commented on #328
I have a similar issue on Colab.

My workaround is to install the following commit:
!pip install -q git+https://github.com/google-research/text-to-text-transfer-transformer.git@1e269e72a981fde4ea64a88a0a0d8cc88871e20a

[2020-08-04 13:55] #320 closed

[2020-08-04 13:55] #328 closed

[2020-08-04 15:33] marton-avrios commented on #325
and this also means that positions can even be factions? like 12.5, 34.7, etc.? even greater than maximum sequence length or even smaller than 0?

[2020-08-04 15:40] craffel commented on #325
Sure, why not! Here is the code that computes it, for reference:
https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/transformer_layers.py#L279

[2020-08-04 15:55] craffel commented on #326
Yes, could just be a typo...

[2020-08-05 02:37] marcospiau commented on #326
Thank you @craffel !

[2020-08-05 02:39] albertoandreottiATgmail opened #330 "Fine-tuning makes no progress"
Hello,

I've been following the instructions from documentation about fine tuning, with the following command,

t5_mesh_transformer \
  --tpu="t5-tpu" \
  --gcp_project="t5-fine-tune" \
  --model_dir="gs://t5-data/pretrained_models/small" \
  --t5_tfds_data_dir="gs://pedrito/data" \
  --gin_file="dataset.gin" \
  --gin_param="MIXTURE_NAME = 'leave_one_out_wmt_t2t_ende_v003'" \
  --gin_file="gs://t

[2020-08-05 02:51] craffel commented on #330
The `leave_one_out_wmt_t2t_ende_v003` mixture involves training on all tasks we considered in the paper (including unsupervised C4 training) except for WMT EnDe. If you choose that task for fine-tuning, the binary will first try to download all of the datasets, including C4 which will take about 335 CPU days to download. If you would like to use C4 or a mixture that includes C4, you should follow

[2020-08-05 02:51] #330 closed

[2020-08-05 06:10] Guillem96 commented on #27
@Morizeyao did you try T5 with NER? Did you get good results?

We are trying to finetune T5 with NER downstream task and the results are not really good.

[2020-08-05 15:28] ashispapu commented on #328
I also got the same issues, when I tried to connect the a VM instance with a TPU node(v2-8) and execute `tf.tpu.experimental.initialize_tpu_system(tpu)`

Is there anyone facing the same issue ?

[2020-08-05 15:29] adarob commented on #328
This happens when there is a mismatch between the TPU binary and the TF version. Make sure both are version 2.3.x.

[2020-08-05 15:30] ashispapu commented on #328
@adarob Do I need to install TF separately on the TPU node ? Since I only installed on VM instance.

[2020-08-05 15:32] adarob commented on #328
You can set `--tpu-version` when you launch. By default it should be 2.3 as of last week.

[2020-08-05 15:43] ashispapu commented on #328
Thanks. I checked the TPU and VM version of TF and its same `2.3.0.dev20200620`. When I try to import T5(both 0.6.2 and 0.6.3), It does not work as below.
`tensorflow.python.framework.errors_impl.NotFoundError: /home/revt5/.local/lib/python3.7/site-packages/tensorflow_text/python/metrics/_text_similarity_metric_ops.so: undefined symbol: _ZN10tensorflow14kernel_factory17OpKernelRegistrar12InitInter

[2020-08-05 15:47] adarob commented on #328
Try `pip install --upgrade tensorflow-text==2.3.0`

[2020-08-05 18:43] marton-avrios commented on #325
I replaced `tf.range(new_seq_len, dtype=tf.int32)` with `tf.range(new_seq_len, dtype=tf.int32) * 3 + 7` in the pack or pad code as default input positions so they should be like 7, 10, 13, etc. Then I `mtf.Print`-ed `relative_attention` in `compute_bias` but it is still `[[0 -1 -2 -3 -4 -5 -6 -7 -8 -9][1 0 -1 -2 -3 -4 -5 -6 -7 -8][2...]...]` (my maximum input and target length is 10 for this exper

[2020-08-05 20:38] craffel commented on #325
Do you mean `relative_position`? https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/transformer_layers.py#L294 Are `memory_position` and `context.position` not what you intended?

[2020-08-05 20:56] marton-avrios commented on #325
Sorry, yes, I mean `relative_position`. Just after the line you referenced I put this: `relative_position = mtf.Print(relative_position, [relative_position])` and the output is like I mentioned. Also in this line https://github.com/tensorflow/mesh/blob/efcd89f66d53ffddc5d13d37041d774d1bf7d210/mesh_tensorflow/transformer/dataset.py#L645 I replaced `tf.range(new_seq_len, dtype=tf.int32)` with `tf.ra

[2020-08-05 21:02] craffel commented on #325
Do you have `pack_dataset.use_custom_ops` set to `True`, either via a caller or via gin? https://github.com/tensorflow/mesh/blob/efcd89f66d53ffddc5d13d37041d774d1bf7d210/mesh_tensorflow/transformer/dataset.py#L474 If so, you won't end up using the code snippet you modified, you'll use the custom TF op instead for packing. The code snipped you modified also won't be triggered unless you are packing

[2020-08-05 21:23] marton-avrios commented on #325
Nope, `pack_dataset.use_custom:ops` is `False`. However I found this: https://github.com/tensorflow/mesh/blob/d353aa9ff6644048bfaec737b6fb5fada03085e2/mesh_tensorflow/transformer/transformer.py#L953 This is responsible for disregarding any custom position information I think.

[2020-08-05 21:44] marton-avrios commented on #325
...yes, it was. I commented out that part and now I get the expected `relative_position` printed so now I can input custom positions.

[2020-08-06 23:16] allen-q opened #334 "Unable to export a model finetuned on multiple-GPUs"
I've successfully finetuned a model using 8 GPUs. However, when I tried to export the model using the function below:

[code]

I got an error:
[code]

Can someone please shed some light?

[2020-08-07 13:56] adarob commented on #334
We don't yet have a way to use multiple accelerators with an exported saved model, unfortunately. See #334.

[2020-08-07 13:58] adarob opened #335 "Add support for exported SavedModel with model parallelism."
Subsumes #128 and #334.

[2020-08-07 13:59] adarob commented on #138
Closing in favor of #335.

[2020-08-07 13:59] #138 closed

[2020-08-07 14:27] vkaul11 opened #336 "Can we do TensorFlow FineTuning on GPU/CPU for NER"
I am trying to get the T5 model to work for NER Task on Tensorflow. However, from what I can gather we can't use the Tensorflow code to fine-tune things on GPU/CPU and we can only export the model to serve results for tasks that T5 already works on? To fine-tune for NER, I will need a TPU, right?

[2020-08-07 14:32] craffel commented on #336
No, you can train, fine-tune, and run inference on tpu, gpu, or cpu. See e.g. https://github.com/google-research/text-to-text-transfer-transformer#gpu-usage

[2020-08-07 14:32] #336 closed

[2020-08-07 15:11] vkaul11 commented on #336
Thanks, for CPU usage I just need to skip this line? `--gin_param="utils.run.mesh_devices = ['gpu:0']"`
Also if I want to install only tensorflow T5 package on my local machine should I use setup.py or pip install t5 is sufficient?

[2020-08-08 01:13] craffel commented on #336
For CPU you should be able to just set --gin_param="utils.run.mesh_shape = []" and skip the mesh_devices flag, though it will be incredibly slow on a CPU. pip is fine.

[2020-08-08 14:12] antoniomastro1996 opened #337 "Logging info"
Hi everybody,

Is there a way to log in Colab #epochs for training and fine-tuning as well?
Otherwise, if I want to derive #epochs from the performed steps, is this formula: Z = (batch_size*performed_steps) / (length_of_dataset) enough?
Z should represent #epochs

[2020-08-08 15:05] craffel commented on #337
Hi, logging the number of epochs is extremely nontrivial when using packing, see https://github.com/google-research/text-to-text-transfer-transformer/issues/174#issuecomment-614797955 If you turn off packing, then your formula is correct, but packing helps avoid wasting a lot of computation.

[2020-08-08 15:05] #337 closed

[2020-08-08 21:09] vkaul11 opened #339 "Input Format for using T5 for the NER task"
I am not getting good results on NER task so I wanted to try T5 but I did not find support for NER.
I was wondering how the data should be formatted.
What I was thinking was along these lines?
Input: "NER Task: Barack Obama was president of USA ."
Target: "Barack Obama [Entity] USA [Entity]"

OR
Input: "Barack Obama was president of USA ."
Target: "Barack Obama [Entity] USA [Entity]"
How do we ens

[2020-08-09 00:29] allen-q commented on #334
hi @adarob , thanks for getting this back. Just want to clarify what I wanted to do. I trained the model on 8 GPUs but I don't plan to use 8 GPUs for serving. I just wanted to be able to export the model so it can be served using a single GPU/CPU instance. I.e. I don't need to use multiple accelerators. Can this be done at the moment?

[2020-08-09 00:50] allen-q commented on #204
@sharannarang , just a follow up on this question. I can get different predictions with temperature set to 1 when I run the model multiple times. However, how can I get more than 1 different predictions at once? I.e feeding 'love English' and get 3 different predictions all at once?

[2020-08-09 06:44] SungjoonPark opened #341 "ValueError: Provider name not registered: glue_ax_v002"
I'm getting following error while importing t5:

INFO:tensorflow:tokens_length=568 inputs_length=512 targets_length=114 noise_density=0.15 mean_noise_span_length=3.0
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/opt/conda/lib/python3.7/site-packages/t5/__init__.py", line 17, in <module>
    import t5.data
  File "/opt/conda/lib/python3.7/site-packages/t5/data/__

[2020-08-09 07:57] SungjoonPark commented on #341
I found the reason. If the version of tfds is low (1.x.x) 'ax' dataset is missing in GLUE benckmark, leads to missing keys in _glue_tasks_with_weight. Upgrading tensorflow_datasets resoloved the issue.

[2020-08-09 07:57] #341 closed

[2020-08-09 11:03] antoniomastro1996 opened #342 "Can I change the optimizer?"
Hi everybody

First thing first. I would like to thank you for such amazing work and rapid response to our questions.
I'm trying to fine-tune the model with a different optimizer(AdamWeightDecayOptimizer), while for the pre-training I have used the default one (AdaFactor). However I get the following error:
WARNING:tensorflow:Reraising captured error
-----------------------------------------------

[2020-08-09 14:53] craffel commented on #342
The optimizers save their accumulator variables to checkpoints. Adafactor and AdamWeightDecayOptimizer use different accumulator variables, so when you try to restore the checkpoint it will fail due to a mismatch in the variables in the graph ("This is most likely due to a Variable name or other graph key that is missing from the checkpoint."). If you fine-tune with new different model directory (

[2020-08-09 14:53] #342 closed

[2020-08-09 14:54] craffel commented on #204
What do you mean by "all at once"? If you want to call predict on the model once and get multiple predictions for the same input, you could create a batch of repeated examples.

[2020-08-09 14:57] craffel commented on #339
Using a task prefix is not necessary but is generally recommended in case you are doing multi-task training. You could just use "ner:" instead of "NER Task:" though, there is no benefit to including the word "task" there. It also should work fine to just use semicolons or even commas instead of "[Entity]" in the targets; the brackets are probably out-of-domain for the model. In WSC we used * to hi

[2020-08-09 14:57] #339 closed

[2020-08-09 16:32] vkaul11 commented on #339
Thanks Colin, I think it maybe [Entity] does not work very well. That is what I will try. You recommend that I use
Target: Barack Obama ; USA ;
or
Target: Barack Obama * USA *
Is it also ok to use sentinel token for this purpose or that is primarily for masking /denoising unsupervised learning task?

Target: Barack Obama<sentinel token1> USA <sentinel token2>

[2020-08-09 16:59] craffel commented on #339
Either of those options could work ok, but simply adding semicolons like Barack Obama; USA; etc would look the most like natural text. You could use sentinels but it would be inconvenient to implement.

[2020-08-09 17:37] vkaul11 commented on #339
Thanks Colin, one task obviously is to get to exact span of the entities and for that ";" separation sounds good. I will check that first.
However, the final task we have is to get the actual wiki entities as well.
Target: Barack Obama [Q76] USA[Q30]
where all these entity IDs come from Wiki https://www.wikidata.org/wiki/Q30
How can I get this target given that the 100,000 or so wiki-entities will

[2020-08-09 20:13] adarob commented on #334
Sorry about that, I misread. This should certainly be possible. Can you share your operative config?

[2020-08-09 20:29] craffel commented on #339
There is no way the model will be able to output those entity IDs unless it sees them many times during training (either pre-training or fine-tuning) since they apparently have no semantic meaning. The sentencepiece model should be able to tokenize them, but they are otherwise meaningless to the model

[2020-08-10 01:04] allen-q commented on #334
No worries @adarob . I'm not sure what you mean by operative config but below are how I configured and finetuned the model:

[code]

The error happened at the last step when I tried to run the model.export function to export the model.

[2020-08-10 01:45] vkaul11 commented on #339
Yes so whenever we have such a classification problem with so many categories it is good to put the entities inside square brackets [Q30] or just use Q30 or use sentinel tokens ? I guess it does not matter as they are new tokens which are not present in natural language. Only way to get this output would be to have a very large data with several instances of each entity ID( not just one instance ?

[2020-08-10 12:05] adarob commented on #334
can you try setting `model._mesh_devies=None` before calling export?

[2020-08-10 12:53] craffel commented on #339
Either Q30 or [Q30] should be fine. There is no explicit threshold of the number of examples per category that is necessary; that is up to experimentaion.

[2020-08-10 21:31] #334 closed

[2020-08-10 23:42] vkaul11 opened #344 "Can I directly export checkpoints after installing T5 locally"
After installing t5, I was trying to install some checkpoints locally using the code given in the notebook but somehow
**```
MODEL = "t5.1.1.small_ssm_nq" #@param["t5.1.1.small_ssm_nq", "t5.1.1.xl_ssm_nq", "t5.1.1.xxl_ssm_nq"]

import os

saved_model_dir = f"/Users/vivekkaul/t5-transformer/models"

!t5_mesh_transformer \
  --model_dir="gs://t5-data/pretrained_models/cbqa/{MODEL}" \
  --use_model_a

[2020-08-10 23:57] allen-q commented on #334
Hey @adarob , I tried model._mesh_devices=None before calling export and it worked fine. Thanks for looking into it and getting it fixed.

[2020-08-11 00:15] #326 closed

[2020-08-11 00:30] #344 closed

[2020-08-11 07:44] allen-q commented on #204
@craffel , thanks for getting back to me. Yes, I was wondering if I can get multiple predictions by calling the model only once. Batch of repeated samples is a good idea and I will give it a try. Thanks.

[2020-08-11 12:23] allen-q commented on #311
Hi @craffel , @adarob , I've spent some time looking at the t5 code and managed to get the scores added to model output. However, the scores don't look quite right when I compare them with the output from the model.score function. It'll be great if you can take a quick look to see where the problem might be. Below are the changes I made:

Changed file 1: /mesh_tensorflow/transformer/transformer.py

[2020-08-11 14:42] daphnei commented on #311
Could you post a few examples of what the scores are with your code vs. the scoring code?

[2020-08-11 21:07] vkaul11 opened #345 "Can we keep multiple files together in DATA_DIR for training"
Hi, I have a large data set which is split into 100,000 small .tsv chunks for NER Data like
Obama is a President /t Obama;

where tab separation is there between input and output. Do I need to combine these files into one .tsv file if I have to use text-to-text format ? I suppose TextLineTask maps to the text-to-text format.

[2020-08-12 14:11] craffel commented on #345
You can create individual tf.data.Datasets for each file and combine them inside of the `dataset_fn` of a standard `Task`:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/utils.py#L384
https://www.tensorflow.org/tutorials/load_data/text#load_text_into_datasets

[2020-08-12 14:11] #345 closed

[2020-08-13 03:59] allen-q commented on #311
@daphnei , sure, with 10 input text samples, using my code, the scores are:
[code]

If I use the model.score function, the output is:
[code]

[2020-08-13 11:31] allen-q commented on #311
@daphnei , I did some debugging and found the root cause of this issue. I think the problem is the raw output of the self.decoder.sample_autoregressive function has tokens after the eos token. In the score function these invalid tokens are removed by the clean_decodes function. After I removed the invalid tokens from the sample_autoregressive output, the scores from my code matches the model.score

[2020-08-16 07:51] ashispapu opened #347 "Task Registry and prefix input text with task name"
Hi Team,

While pre training and fine tuning T5 on a custom data/language, I came across the task registry and prefixing task name to input text. It would be helpful if you could clarify below queries, which may be very fundamental to  train T5.

1.  Why do we add individual tasks to TaskRegistry and how does it help in pre training ?
2.  What is the significance of prefixing the task name in inpu

[2020-08-16 08:43] AlexanderRayCarlson opened #348 "gs:// causes exception in t5_mesh_transformer with t5[gcp]"
I created a tpu instance and debian VM with `ctpu up`, installed t5[gcp] as described [here](https://github.com/google-research/text-to-text-transfer-transformer/#setting-up-tpus-on-gcp).

Encountered what looks like a parsing issue in the file_io used by t5_mesh_transformer that causes it to throw an exception before training can begin.

If I remove the `gs://` from MODEL_DIR and DATA_DIR then it

[2020-08-16 10:12] saareliad opened #349 "steps of evaluated best checkpoint"
Hi,
We are trying to replicate some fine-tuning the results of the paper
but don't have the resources to finetune for 2^18 steps and evaluate all checkpoints (it is often not needed).

Can you share exact number of steps you used for the best checkpoint?
Specifically, I'm interested in the larger models 3B, 11B for squad/glue.

[2020-08-17 00:20] danyaljj opened #350 "ERROR: ... does not exist in any of the task cache directories"
I have added [your provided `Task` definitions for NQ-open](https://github.com/google-research/google-research/blob/master/t5_closed_book_qa/t5_cbqa/tasks.py#L84-L96) to my code, like this:

[code]

I am getting the following error while trying to fine-tune with this task:
[code]

My understanding is that these external datasets loaded from `TfdsTask` need to be cached (according to [the readme](h

[2020-08-17 13:38] craffel commented on #350
Hi, you will get that error if you are passing `use_cached=True` (probably via gin) to `mesh_train_dataset_fn` or `mesh_eval_dataset_fn` but you have not cached the Task. I would check the gin flags/files you are passing to see if any of them set that value to True. It does not pertain to TFDS caching, it pertains to task caching (via https://github.com/google-research/text-to-text-transfer-transf

[2020-08-17 13:38] #350 closed

[2020-08-17 13:51] craffel commented on #349
Hi, for many of the tasks it was indeed necessary to fine-tune for a long time to reach the max validation accuracy. For example, for 11B on QQP, we used the checkpoint after fine-tuning for 210k steps. You may be able to save some compute by fine-tuning on the mixture, though again for some of the tasks the max validation performance happened around 200k fine-tune steps and you will sacrifice som

[2020-08-17 14:09] craffel commented on #347
Hi,

Adding a Task to the TaskRegistry just allows it to be used for feeding data into the model. It doesn't have any direct impact on pre-training or fine-tuning unless you choose a Task (or Mixture that contains the task) when training a model.

It is for the model to determine what it should do with some input text in the multi-task setting.

If you are fine-tuning on a task that was included i

[2020-08-17 14:09] #347 closed

[2020-08-17 14:37] ashispapu commented on #347
Thanks  @craffel  for the clarification.

[2020-08-17 15:54] adarob commented on #348
Is your GCS bucket actually called "mybucket"?

[2020-08-17 17:00] saareliad commented on #349
Yes it would be extremely helpful (and interesting): we want to replicate several fine-tuning experiments with different distributed settings and hardware.
We are specifically interested in restoring sota generalization results or getting close enough with similar hyperparameters (batch size, steps and so on).

It would also help us to better choose which experiments to replicate.

We plan to open

[2020-08-17 17:31] craffel commented on #349
Hi, ok. Here are fine-tune steps for all of the tasks you asked about for the 11B model:

[code]

Note that for WNLI we use the WSC/DPR checkpoint, which was trained for 34k steps.

I can try to get the numbers for 3B later on but they should be similar as for the 11B model. Note that your mileage may vary as far as the exact number of steps so you should probably fine-tune for longer for the sake

[2020-08-17 18:38] AlexanderRayCarlson commented on #348
:sweat_smile: actually called mybucket2 (much more creative)
![image](https://user-images.githubusercontent.com/15145538/90431375-cb9fc200-e07d-11ea-8c6c-a1b1db2bc1e7.png)
 and fixing this resolved the issue. My mistake! "Must be a non-empty string" had me confused as to the cause. Thank you!

[2020-08-17 18:38] #348 closed

[2020-08-17 20:40] vkaul11 commented on #345
Is it possible to use TFRecord format also as I don't see that in the notebook.

[2020-08-17 21:48] craffel commented on #345
Yes, all you need is a function that returns a tf.data.Dataset when constructing the Task
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/utils.py#L384
You could use a https://www.tensorflow.org/api_docs/python/tf/data/TFRecordDataset

[2020-08-18 01:06] yixingfu commented on #319
Try this
`!pip install -U tensorflow-gcs-config==2.3.0`

[2020-08-18 14:23] khalman-m commented on #319
I have the same issue as @Kevinweisl
`!pip install -U tensorflow-gcs-config==2.3.0` gives me the original `NotImplementedError: unable to open file: _gcs_config_ops.so` error on the hosted runtime.

Should we reopen this?

[2020-08-18 14:51] yixingfu commented on #319
I agree. As a workaround you may try various combination of TF version and gcs config version. For me TF 2.3.0 + gcs config 2.3.0 worked, hence I suggested.

[2020-08-18 14:58] adarob commented on #319
It looks like one of our dependencies is downgrading tf.

[2020-08-18 15:32] #319 closed

[2020-08-18 18:35] vkaul11 opened #352 "Can Task Registry only work on Google Cloud"
I was trying to run some tasks to first check if they work on my local machine but I am getting Google Authentication errors:

[code]
and I get the error

[code]

[2020-08-18 20:26] craffel commented on #352
The entire `t5` library should be runnable locally, i.e. not on Google Cloud. I think TFDS may be trying to read stuff off of Cloud (like dataset info files) and it looks like you might not be set up to read from Cloud. I don't think this is an issue with the `t5` library though.

[2020-08-18 20:47] vkaul11 commented on #352
Thanks, so what I did now was setup everything in local path but I am getting this error. My model_dir is same as the directory used for gs://t5-data/pretrained_models/small/ (I copied the contents locally). Do I have to point it to exact model checkpoint?

[code]

[2020-08-18 20:51] craffel commented on #352
There is a space between `--model_dir=` and `'/Users/vivekkaul/t5-small-model/small'` in your command.

[2020-08-18 20:51] #352 closed

[2020-08-18 21:59] vkaul11 commented on #352
Thanks for this it does work now but obviously it is too slow on CPU

[2020-08-18 22:59] vkaul11 opened #353 "ValueError: `mesh_shape` must be a vector of size 4 with positive entries while using TPU"
I checked https://github.com/google-research/text-to-text-transfer-transformer/issues/320 but I have tensorflow=2.2.0
but still I am getting a similar error. Is this something to do with my TPU?

[code]

[code]

[2020-08-18 23:53] vkaul11 commented on #352
Is it expected that even the small model won't be able to train for even 1000 steps? The terminal is stuck here "Done writing checkpoint." Should I try something else to debug on CPU?  I just wanted to see if things are running correctly

I```
NFO:tensorflow:Counters:
einsum: 2.54e+12
einsum_unique: 2.54e+12
output: 6.19e+08
 output/AddOperation: 1.85e+05
 output/Constant: 1
 output/EinsumOperatio

[2020-08-19 00:06] sharannarang commented on #353
You may want to check the TPU software version. I was getting this error when the tpu version was 2.3 with tensorflow 2.2.

With tpu s/w version = 2.3 and tensorflow 2.3, I don't see this error anymore.

[2020-08-19 00:12] vkaul11 commented on #353
How do you check TPU version ?

[2020-08-19 01:42] vkaul11 commented on #353
My TPU version is tf 2.2 and looks like t5 also has tf 2.2. Is this problem different ?

[2020-08-19 02:40] arglog commented on #323
Hi,

I was able to cache the task using DataFlow.

Thanks!

[2020-08-19 02:40] #323 closed

[2020-08-19 02:58] arglog opened #354 "Data parallelism on TPU"
Hi T5 authors,

I have some questions regarding the data parallelism on TPU.

1. On GPU, we are able to explicitly control the data and model parallelism via parameters like `"utils.run.mesh_shape = 'model:3,batch:2'"`. On TPU, we only have the explicit parameter for model parallelism (`"utils.tpu_mesh_shape.model_parallelism = 1"`) but not for data parallelism. So how does T5/mesh-tf derive the d

[2020-08-19 06:12] saareliad commented on #349
Thanks @craffel !
To make the picture whole, I want to make sure: which batch sizes/tokens per batch did you use for these models/tasks? Did you use gradient accumulation?

For example, in the paper, you wrote you used batch size 8 for glue/superglue when fine-tuning on individual tasks because 2^11 was too high, and in the "base" experiments you used a batch size of 128.
In QA notebook for exampl

[2020-08-19 12:48] craffel commented on #349
It is as stated in the paper.

[2020-08-19 13:50] craffel commented on #354
1. With a TPU, you can either specify the `mesh_shape` directly to `run` or use the `tpu_mesh_shape` helper function https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/utils.py#L216. The docstring of that function answers your question.
1.

[2020-08-19 13:51] #354 closed

[2020-08-19 17:14] sharannarang commented on #353
I'd suggest switching to tf 2.3 with the same tpu version since it has been working reliably for me.

[2020-08-19 17:50] vkaul11 opened #355 "how to make eval work on tsv files ?"
I was able to run fine-tuning on tsv files but I was not able to get eval to work on tsv files

I used the commands

[code]
and I think it defaults to taking super_glue set instead of my .tsv file.

[code]
Any idea how to supply .tsv for evaluations also ? Also for predictions?

[2020-08-19 18:04] arglog opened #356 "Difference between "loss" and "neg_log_perplexity" in "perplexity_eval" mode"
Hi

In the perplexity_eval model (using `perplexity_eval.gin`), there are two metrics being recorded: `loss` ([L761](https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/utils.py#L761)) and `neg_log_perplexity` ([L798](https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/utils.py#L798)).

I found these two losses are essentially cross entropy loss: `loss

[2020-08-19 19:52] danyaljj opened #358 "Choosing the right `Task` for repeating your NQ-open experiments"
I've been trying to reproduce your experiments on closed-book-QA in this repo:
https://github.com/google-research/google-research/tree/master/t5_closed_book_qa#released-model-checkpoints

Corresponding to this paper: "How Much Knowledge Can You Pack Into the Parameters of a Language Model?" https://arxiv.org/abs/2002.08910

WhenI look at the list of [the tasks included in the repo](https://github.

[2020-08-19 20:06] adarob commented on #358
natural_questions_open_test

[2020-08-19 20:06] #358 closed

[2020-08-19 21:59] vkaul11 commented on #353
Thanks that worked.

[2020-08-19 21:59] #353 closed

[2020-08-19 22:05] vkaul11 opened #359 "cannot run python3 tasks.py but was able to train"
I have a Google Cloud Virtual Machine and I was able to use
pip install t5
and do fine-tuning
[code]
However, I am unable to python scripts on my VM. I tried going the virtualenv route but that also did not work
[code]
Is there a way we can run the tasks scripts directly using python? Does it work only with specific version of python  or is there a setup I need to use to do it.

I did use venv but

[2020-08-20 05:27] vkaul11 commented on #359
I upgraded from Ubutu 16.04 to Ubuntu 18.04 and that fixed this installation issue

[2020-08-20 05:27] #359 closed

[2020-08-20 11:47] allen-q commented on #311
I've raised a PR in the tensorflow-mesh repo to add this feature. @craffel , @daphnei  @adarob  please feel free to have a look.

[2020-08-20 13:43] daphnei commented on #311
Would it make sense to return log-probabilities instead of probabilities so as to align with the existing scoring code?

[2020-08-20 21:17] vkaul11 opened #363 "model.fine_tune does not work ValueError: Tensor-typed variable initializers must either be wrapped in an init_scope or callable"
I was using a code similar to what is given in the notebook but for some reason the fine-tune task does not work for me

[code]

I get this error which points to **finetune_steps parameter** and I have no idea why this will be the case
[code]

[2020-08-20 21:44] vkaul11 commented on #363
After using tf.disable_v2_behavior() this issue goes away.

[2020-08-20 21:44] #363 closed

[2020-08-20 23:04] vkaul11 opened #364 "cannot fine-tune "large","3B" and "11B" models in "v3-32" TPU"
I followed the colab notebook code and I was able to train "small" and "base" models on my NER task but not the others. Is the TPU "v3-32" not sufficient to do this training?

My training process gets killed and I am struggling to see what maybe the case. Should I add any logging information?

[code]

[2020-08-21 02:34] allen-q commented on #311
Thanks for your feedback @daphnei . I've thought about returning the log-prob as the current score functions but for the project I'm working on, they need the texts to come with a probability. If I expose the log-prob in the output, I think there will be a post-processing step required to convert it to prob which is not ideal.

There are two options I can think of:
1. Expose both the scores(log-pr

[2020-08-21 05:11] ashispapu commented on #229
Hi @trisongz @adarob , Is there any way to increase the vocabs for custom sentence piece model and use it for pre-training? I am also looking for the configuration in the gin file to accommodate such changes.

[2020-08-21 13:05] saareliad opened #365 "Packing for HF model"
Hi, I see that for the HF model there is no data-packing albite in the experiments you did use packing.
https://github.com/google-research/text-to-text-transfer-transformer/blob/5053a463eac3423284c327bf36e61988189239c1/t5/models/hf_model.py#L114

I want to use packing as you did, however, I noticed that after packing, there are several extra inputs created which seems like mesh_tensorflow internal

[2020-08-21 13:10] #365 closed, assigned to nobody

[2020-08-21 16:47] vkaul11 opened #366 "NER results don't make sense when I fine model"
I got bad results for NER on small model after "10,000" finetuning steps. Is there a way to ensure that prediction contains text from the input only like in NER here? Otherwise the results seem to make no sense.

These are some of the random results:

Input: ner: how old is musician paul mayer
Target: paul mayer;
Prediction: impeller;
Counted as Correct? False

Input: ner: rectifier stack
Target:

[2020-08-21 16:54] #366 closed, assigned to nobody

[2020-08-24 06:31] danyaljj opened #368 "Speed of fine-tuning on closed-book-QA tasks"
I am following the script you have in [this repo](https://github.com/google-research/google-research/tree/master/t5_closed_book_qa#released-model-checkpoints) to fine-tune T5-11B on the NQ-open.

**TLDR;** roughly speaking, how long does it take to fine-tune your models on NQ-open (say, using a v3-128 TPU)?

-----

The issue is that my fine-tuning is running quite slow on a v3-128 TPU.
- The initi

[2020-08-24 12:13] adarob commented on #368
That is definitely far too slow.  I'm not sure why it would be downloading NQ multiple times.  You can try running  tfds's `download_and_prepare` script to make sure it writes it stores it somewhere locally that you can reuse it.

Another option is to run cache_tasks_main to pre-cache the tokenized data: https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/cache

[2020-08-24 12:13] #368 closed

[2020-08-24 13:53] craffel commented on #365
I was able to match the results for the Base model between HF and MTF. You can't train the 11B model in HF so of course you won't be able to get SoTA with HF.

This should have a negligible impact on performance - it is mainly for numerical instability.

Note that HF removed the adafactor accumulator variables from the checkpoints, whereas in MTF we load them in from the pre-trained model when fin

[2020-08-24 17:56] saareliad commented on #365
@craffel thanks for the replay 👍 ,

We actually can (and currently running) the large models (first 3B then 11B) in fp32 + beta1>0 with our own memory-efficient algorithm so I want to get close-enough results to empirically prove a point (for an academic paper). I guess we only want close-enough results (If it would be too far from T5-paper no one would believe us...) but not necessarily the exact

[2020-08-24 18:02] craffel commented on #365
I tried for a few GLUE tasks. The CoLA fine-tuning recipe in the hf_model.py docstring should give comparable results to MTF fine-tuning. https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py#L16

I'm not sure what colab you're referring to.

Of course - sorry if it was not clear, but I meant that N changes across batches. Note that, in our training

[2020-08-25 09:18] ashispapu commented on #229
Thanks. Below is my understanding.

It takes care of modifying the default embedding layer(32256 * 768) and replaces with the no of token available in the custom sentence piece model i.e (100k * 768) is the new embedding layer.

[2020-08-25 09:22] ashispapu opened #372 "T5 Pretraining and Finetuning for Custom Language"
Hi,

Thanks for sharing the T5 pre training examples. I have followed the same for another language. I have two tasks in the pre training phase(unsupervised and question generation tasks). Then I tried to fine tune the pre trained model for question generation only. However it is not able produce good results on unseen/test data. I have checked the training loss which has reduced significantly and

[2020-08-25 15:12] saareliad commented on #365
Thanks @craffel
The aforementioned colab
https://colab.research.google.com/github/patil-suraj/exploring-T5/blob/master/T5_on_TPU.ipynb
Finetuning with it produces worse results than C4 checkpoint.

I think that MTF packing affects the result in some way which we can't easily quantify.
The naive way of doing packing is fixing N per batch (row per example) and trimming by the longest seq length.
Thi

[2020-08-25 21:19] craffel commented on #372
Hi, there's really many reasons that things could be going wrong and it's a bit hard to investigate for you. Is your pre-training dataset so small that you are overfitting to it? Is the pre-training data noisy? Is the QA dataset for fine-tuning small? Noisy? Is the model producing answers that are wrong, or is outputting gibberish? These are all worth looking in to, but unfortunately we don't have

[2020-08-25 21:19] #372 closed

[2020-08-25 21:25] craffel commented on #365
I am completely on the same page as you that replicating packing with padding (in terms of having the same # of examples in a packed vs. padded batch) is impractical if not impossible. However, in all of our experiments the most important factor was how many tokens the model was trained on, regardless of how many tokens (or examples) were in each batch. In other words, if you train on X total toke

[2020-08-26 03:57] JinhaoLei opened #375 "preprocessing open-NQ task dataset using hf_model.py causes batching error"
Hi, the output from preprocessing open-NQ task has an attribute "answers"(https://github.com/google-research/google-research/blob/d587293a91169310be817fc5798a62074e05b33f/t5_closed_book_qa/t5_cbqa/preprocessors.py#L153), which is a list of candidate answers without fixed length. This makes it can't be batched using tf dataset .batch() API as per this [line](https://github.com/google-research/text-

[2020-08-26 15:50] adarob commented on #375
You can remove it from the list of output features since it's only used for eval.

[2020-08-26 16:22] adarob commented on #375
@craffel thinks this may be a something we can fix on our end

[2020-08-26 16:24] JinhaoLei commented on #375
Yes it would be great if you can fix it as we users do need to have that feature during evaluation, though for training we don't need it.

[2020-08-26 16:32] craffel commented on #375
I probably will not get to this for a few weeks. Feel free to hack in a solution where you filter out the non-inputs/targets features during training in the meantime.

[2020-08-27 17:08] daphnei commented on #311
Sorry for the delayed response. A couple comments:

Personally, I think it is preferable to only output logprobs. It is trivial for downstream code using these scores to convert them to probs, and having an extra param seems like it would just over-complicate things.

On an unrelated note, if possible, I think it would be a good idea to refractor the logic that is redundant with https://github.com

[2020-08-27 17:21] adarob commented on #311
Thanks for the work @allen-q, and +1 to @daphnei's comments. It would be great to get this PR in ASAP.

[2020-08-27 23:12] allen-q commented on #311
@daphnei Thanks for the comments and I think it makes sense. I will go make the changes and update the PR once it's ready @adarob . Thank you.

[2020-08-28 06:46] ashispapu commented on #372
Thanks @craffel  for you inputs. Could you also share what would be a good amount of sentences for pretraining for a new language, if you have any such observations .

[2020-08-28 14:00] craffel commented on #372
See section 3.4.2 of https://arxiv.org/pdf/1910.10683.pdf tl;dr, we found that if you repeat your pre-training data more than ~100x over the course of pre-training it can hurt you downstream. So if your pre-train the model on batches containing a total of 100B tokens, you should have a pre-training dataset with at least 1B tokens in it (as a rough rule of thumb).

[2020-08-28 18:43] bhavanadalvi opened #384 "Continue pre-training or fine-tune?"
Hello,

I wanted to get some clarity regarding train vs fine-tune options on existing pertained T5 model. Is there a difference between the two? E.g. train will adjust weights for all layers in the model whereas fine-tune will freeze all other layers and only tune weights in the last layer?
In particular, we are interested in
        1. First continue fine-tuning T5 on our domain corpus. It would

[2020-08-28 18:58] craffel commented on #384
There is no such distinction between training and fine-tuning. During fine-tuning, we update all model parameters, we just continue training (from a pre-trained model) on a new dataset. See http://tiny.cc/t5-colab for an example.

[2020-08-28 18:58] #384 closed

[2020-08-28 19:08] bhavanadalvi commented on #384
Thanks Colin!

[2020-08-29 04:18] RTKno1 commented on #269
Hi @craffel I am continuing the work that @traumasv was doing last month, I tried implementing that function into our code, and got training to work. However I then encountered a `keyError: input_plaintext` in running eval similar to #173 . I also tried that solution to remove the postprocessor and metrics from the tasks, but I then get `keyError: translation_en_msa` ,which is a task name, for lin

[2020-08-31 04:08] ashispapu commented on #372
Thanks @craffel for the response. I guess the 1B tokens you mentioned is for the default pre-training(T5-base). Would that also hold good for T5(small and large), given the different scale of complexities of the network architectures.

[2020-08-31 11:16] allen-q commented on #311
Hey @adarob , @daphnei , @craffel , I've made the suggested changes to the PR. Please take a look and let me know if it looks ok to be merged.

[2020-08-31 14:31] craffel commented on #372
All model sizes were trained for 1T (not B) tokens.

[2020-09-02 11:08] saareliad commented on #349
Hi @craffel, I managed to almost-restore RTE accuracy for the T5-3B model, got 90.97% after 4500 steps, best checkpoint was ~2330 steps. Paper is 91.1% for that model (I think this is 1 validation example difference).

However, it took tons of time so it is definitely not feasible for us to replicate everything on our hardware.

Are there other tasks that I did not mention which have a relatively

[2020-09-02 13:36] adarob commented on #349
I used 10k for the CBQA tasks (https://github.com/google-research/google-research/tree/master/t5_closed_book_qa/t5_cbqa), although they mostly plateau after only a few hundred steps.

[2020-09-02 14:02] craffel commented on #349
@saareliad if you are referring to the pre-trained multi-task checkpoints, all of them will have good performance on cnndm/squad/wmt out of the box since they were pre-trained on a multi-task mixture including those tasks. But to get the best performance, you need to fine-tune for a long time since those are all large datasets. The only small datasets are in the GLUE/SuperGLUE benchmarks.

[2020-09-02 15:58] adarob commented on #311
@daphnei would you mind taking a first pass if you have time since you're more familiar with this code?

[2020-09-03 18:33] chrisrytting opened #387 "Training T5 from scratch on English (no pre-training)"
I'm trying to compare sample efficiency of pre-trained T5 and from-scratch T5 on a custom task (for the sake of a baseline in a paper). In looking for examples of this, I can only find either (a) the general approach: fine-tuning the pre-trained models you guys have shared in order to perform tasks in English or (b) the new language approach: training a new tokenizer on some other language and doi

[2020-09-04 04:33] arglog opened #388 "Does 'reduce_concat_tokens' duplicate `pack_or_pad`?"
I'm training a T5 model from scratch using the denoide objective. In the `denoise.gin` file, the preprocesssors are defined as
[code]

I have two questions about the `reduce_concat_tokens` function:

1. In the the `mesh_train_dataset_fn` function of T5 (see below), I found T5 also calls a function `pack_or_pad` ([Link](https://github.com/tensorflow/mesh/blob/55c48ee340463f947c94c4ed33c37053d8e488a

[2020-09-04 12:07] craffel commented on #388
No, they do different things (and appear at different points in the pipeline). Please refer to the code for differences.

[2020-09-04 12:07] #388 closed

[2020-09-04 12:08] craffel commented on #387
See this section of the README: https://github.com/google-research/text-to-text-transfer-transformer#training

Based on your error, I think you have not provided a model configuration via gin.

[2020-09-04 12:08] #387 closed

[2020-09-04 22:07] chrisrytting commented on #387
@craffel in the issue I mentioned that "I simply modify my fine-tuning script to invoke the train command (from MtfModel) on a new model directory called 3Bscratch (which contains, at this point, only the operative_config.gin file that I copied from the pretrained model directory, which I've been able to fine-tune on)".

Are you referring to a different model configuration via gin than the operati

[2020-09-05 13:54] marton-avrios opened #389 "Some german uppercase characters like "Ö" are missing from the vocabulary"
"ü" is 1272, "Ü" is 14858, "ö" is 1872 but "Ö" is 2 (unknown). Is that possible or I messed up something?

[2020-09-07 08:05] misrasaurabh1 opened #390 "Mistakes in T5 SentencePiece Tokenizer"
T5 Tokenizer is based out of SentencePiece and in sentencepiece whitespace is treated as a basic symbol. But it seems like the tokenizer just ignores more than one whitespace (including space, newline and tab)
Consider all the following examples tokenize to the same thing.
[code]

T5 tokenizer also messes up this particular sequence
[code]
It adds this weird ⁇ symbol, failing to encode the `{` sym

[2020-09-07 13:47] RoshanTanisha opened #391 "Use T5 for spanish text summarization"
Hello,

I am trying to do Spanish text summarization using Transformer based model, I would want to know if it is possible to do it for Spanish text or any other language using the T5 model as it is done for English texts?

[2020-09-07 15:37] daphnei commented on #311
Looks good to me.

[2020-09-07 16:12] craffel commented on #391
Hi, we do not currently have a Spanish model but you could create a new vocabulary and pre-train your own Spanish-language T5 using our codebase.

[2020-09-07 16:12] #391 closed

[2020-09-07 16:14] craffel commented on #390
This is a standard feature of SentencePiece.

{ is OOV because we intentionally removed any pages with { or } from C4 to avoid pre-training on anything other than natural language. So, it gets encoded to ??. SentencePiece has a byte fallback feature but it was not available when we trained our sentencepiece model.

You can create your own Vocabulary class based on something other than SentencePiec

[2020-09-07 16:14] #390 closed

[2020-09-07 16:41] craffel commented on #389
Hi, this must simply be because SentencePiece learns its vocabulary and decided that it could compress text better if it used one of its IDs for a different text sequence than Ö. Unfortunately SentencePiece added the byte fallback mode after we made our vocabulary. We may release models that have better coverage/byte fallback soon.

[2020-09-07 16:41] #389 closed

[2020-09-07 16:43] craffel commented on #387
The operative config for the pre-trained model contains a line that specifies a pre-trained model checkpoint to load, which you don't want. You want appropriate gin files that set the configuration without using the operative config. The training command I linked to specifies such gin files.

[2020-09-09 15:22] chrisrytting opened #393 "OOM error when training even when batch"
I'm trying to train the 3B parameter model from scratch. When I try to do so by executing the following command

[code]

I get an OOM error

[code]

I add `--gin_param="tokens_per_batch=1"` to the above command, thinking I need to reduce my batch size to fit on the GPU, (which in the first place this error is weird because I'm using a Nvidia Tesla V100-SXM3-32GB), and I still get the OOM error. Is

[2020-09-09 15:33] craffel commented on #393
I'm not sure the 3B model will fit in memory on a single GPU (even a v100), though it is possible to train the 3B model on a v2-8 TPU which has 64 GB of RAM. I'm also not sure `tokens_per_bath=1` will work if your input sequences have length 512 (which it appears they do based on the error you're seeing). You could try `tokens_per_bath=512` which would correspond to a single sequence in each batch

[2020-09-09 15:38] chrisrytting commented on #393
@craffel thanks for the quick response. However, I have fine-tuned without a problem on these GPUs. Does training from scratch require more memory for some reason? I understand the pre-training is different than fine-tuning on specific tasks, but I basically want to fine-tune without any pre-training.

Also, if I'm getting OOM error with `tokens_per_batch=1`, there's no way I could go bigger, righ

[2020-09-09 15:42] craffel commented on #393
Are you using a different sequence length for pre-training than you used for fine-tuning? Pre-training typically uses a length-512 input sequence. Recall that attention weight memory usage scales quadratically with sequence length.

If your input sequence has 512 tokens and you set tokens_per_batch=1, I'm not sure what the code will do. You should set tokens_per_batch to be an integer multiple of

[2020-09-09 15:45] adarob commented on #393
Can you try installing mesh-tf and t5 both from master on github?

I think this will be fixed by the combination of:
https://github.com/tensorflow/mesh/pull/175
https://github.com/google-research/text-to-text-transfer-transformer/pull/386

If we can confirm that solves your problem, I will update the packages.

[2020-09-09 16:00] chrisrytting commented on #393
So I'm working out of a docker container, and I hope that doesn't make things too tricky. But basically before I had just pip installed t5 and so I think the place it had the packages `t5` and `mesh_tensorflow` was in `/usr/local/lib/python3.6/dist-packages`. So I just renamed the ones installed by pip to `t5package` and `mesh_tensorflowpackage` and then cloned https://github.com/tensorflow/mesh i

[2020-09-09 16:04] adarob commented on #393
You should be able to do `pip install git+
https://github.com/tensorflow/mesh`, etc.

On Wed, Sep 9, 2020 at 12:00 PM Chris Rytting <notifications@github.com>
wrote:

[2020-09-09 16:22] chrisrytting commented on #393
Sorry I deleted that last comment I thought there was a detail wrong and panicked but there wasn't. So I pip uninstalled t5 and mesh_tensorflow at that point, and pip installed both with git+.

I get nearly the same errors, it just looks like some of the dimensions are changed:

[code]

[2020-09-09 17:05] chrisrytting commented on #393
So I tried parallelizing across two of the v100s, and I still got those errors above. When I parallelized across 4 (3 wouldn't work because the model doesn't split evenly across 3), it finally worked.

Still, it seems weird to me that I could fine-tune with a sequence length of 250 on 1 GPU but couldn't train with the same sequence length across 2 GPUs. Aren't training and fine-tuning the same thi

[2020-09-09 17:09] craffel commented on #393
(Memory usage @ sequence length 2N) > 2 x (Memory usage @ sequence length N) because of attention's quadratic memory cost.

Yes, they are exactly the same, the only difference is that before fine-tuning we load variables from a checkpoint.

You can diff the operative config gin files that got written out to your model directories to triple check that there are no other differences (other than sequ

[2020-09-09 17:09] #393 closed

[2020-09-09 17:13] chrisrytting commented on #393
Oh sorry that finally made sense about the quadratic scaling. Thanks for your help, guys!

[2020-09-10 18:55] nikett commented on #200
If the default rate is set to 0.1 on a singleton mixture, does it mean that 10% (random) data would be used for training and eval?

t5.data.MixtureRegistry.add(
       f"my_mixture", [task1], default_rate=0.1
)

[2020-09-10 19:01] craffel commented on #200
No, a mixture with one task is equivalent to just using the task. The rates are normalized to sum to 1, effectively. If you only want to use 10% of a dataset, you can use the splitting and slicing API from TFDS when constructing your task https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/utils.py#L803

[2020-09-10 19:02] nikett commented on #200
Thanks for the clarification, Colin!

[2020-09-10 20:10] nikett commented on #200
Assuming that we are not performing any packing, will the following be correct?

Suppose a mixture comprises k tasks `t1... tk` :

case 1: if the default rate is a constant between 0.1 - 1.0:
then, ```number of steps = max(t1_num_examples, t2_num_examples, ... tk_num_examples) *k / batchsize```
If there is a skew in the number of examples between t1.. tk then, many examples from the task with fewe

[2020-09-10 20:43] vkaul11 opened #396 "how to adjust beam_size in model.eval() function and get top 3 predictions"
When I look at the colab notebook (which I am following) I see that the evaluation is done here. Is the default eval using beam_search ? What is the default beam_size there?
[code]
On the github code page we have this command where we can specify the beam_search.gin but I don't know how to pass it using model.eval() function. Also can we change the beam_size parameter also ?
[code]
I also wanted t

[2020-09-11 11:56] saareliad commented on #349
I see. I notice that in T5 the models need more finetuning than previous transformers, for example, glue RTE 4000 steps is ~103 epochs, BERT large does 2 epochs, BERT base does 3 epochs.
T5/adagrad does not use the first momentum. I tried adding momentum but it didn't reduce time-to-sota-accuracy.
I trained on squad before, I don't remember it being "long" (~20 minutes with BERT-large with our tra

[2020-09-11 12:19] craffel commented on #349
You asked for the *best* checkpoint. T5's performance jumps up extremely quickly and then hovers around the best value indefinitely; it's probably mostly noise that it happened at 4k steps. I bet the same would happen with BERT if you just continued fine-tuning for longer. If you just want to get good (not "best") performance, you can fine-tune for much less time.

Here are the steps for SuperGLUE

[2020-09-11 12:32] craffel commented on #396
No, the default is just to sample autoregressively without beam search.

You can manually pass extra gin bindings when you construct the model:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/mtf_model.py#L96
You should pass the same bindings that appear in the [beam_search.gin file](https://github.com/google-research/text-to-text-transfer-transformer/blo

[2020-09-11 12:32] #396 closed

[2020-09-11 12:34] craffel commented on #200
Hey Niket,

I'm not sure what you're trying to calculate here. The number of steps you train a model can be set independently of all of the quantities on the right of your equals sign.

Yes, this is true.

Yes, all tasks will complete an epoch after the same number of training steps. The model will see the most data from the tasks with the largest number of examples.

[2020-09-11 15:07] vkaul11 commented on #396
Thanks Colin. Just a question about the sample autoregressive setting. The results seem to be good and stable (non-random). Does it almost default to greedy decoding with temperature -> 0 ? Or is top k sampling or top p nucleus sampling ? Can you point to the code that does that? Thanks again.

[2020-09-11 16:42] nikett commented on #200
Thanks for confirming that Collin. I meant "number of gradient steps in one epoch". It is clear now

[2020-09-11 16:43] craffel commented on #396
Yes, you're exactly right. Here is the decode function: https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/transformer.py#L1506 it will use the default kwarg values unless otherwise specified via gin. Default is beam_size = 1 (aka autoregressive sampling, no beam search) with temperature = 0 (aka greedy).

[2020-09-11 20:25] vkaul11 opened #397 "adding new features into encoder for certain tasks"
In many cases there are certain features that the model can use to enhance the performance of the decoder. For instance, we can use the users location, local time etc to improve accuracy for results.
Generally in earlier setups like BERT what was done was to concatenate the additional features to the BERT features but in t5 I suppose we can directly add the features as part of the Input
[code]
Is

[2020-09-11 20:32] craffel commented on #397
Yes, you should just append all information/features together in the input (probably in the text preprocessor). See e.g. the SQuAD text preprocessor https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/preprocessors.py#L297

[2020-09-11 20:32] #397 closed

[2020-09-12 06:31] arglog commented on #356
One difference I found is that in `logits_and_loss` the cross entropy was normalized by the [length](https://github.com/tensorflow/mesh/blob/a3c05f705641dfe144f70b7b5230db4933ce8ca9/mesh_tensorflow/transformer/transformer.py#L788) of `targets`, while in `neg_log_perplexity` the cross entropy was normalized by the [number of non-zero tokens](https://github.com/tensorflow/mesh/blob/a3c05f705641dfe14

[2020-09-12 11:42] allen-q commented on #311
@adarob , thanks for following this up. @daphnei thanks for reviewing the code and I've changed the function name as you suggested and resolved the merge conflict. Would you be able to merge the pull request or it needs to be done by someone else?

[2020-09-14 14:05] sbmaruf opened #400 "Need some clarification about C4 corpus."
Does the Colossal Clean Crawled Corpus (C4) corpus contain Wikipedia text? I know that T4 is not trained on Wikipedia. But does Common Crawl include Wikipedia in their crawl thus including Wikipedia text in C4?

[2020-09-14 14:10] craffel commented on #400
Yes.

[2020-09-14 14:10] #400 closed

[2020-09-14 17:23] naveenjafer commented on #133
@ramsrigouthamg Thank you for the code, but I have a concern here. When talking about predicting multiple masks and in close proximity on top of that, since the model is non sequential, it is simultaneously predicting all the masks without any knowledge of what the final prediction of the other masks would be right? In the example you have given here it seems to have come up with sensible blank fi

[2020-09-19 13:58] vkaul11 commented on #43
This is something that happens to me also. It doesn’t same intermediate checkpoints for 11B model

[2020-09-19 14:30] vkaul11 opened #408 "computing max sequence length and exceeding input sequence length?"
In some experiments increasing sequence length seems to benefit performance. Though the number of words in the input do not exceed the input sequence length I suspect the sentence piece tokens are much more than the raw words and that is what is causing this. Is there a function to emit the number of  tokens after I feed in the text through pre-processor. I suppose that is the maximum length I sho

[2020-09-19 17:16] Vaibhav-nn opened #409 "Incorrect Output on custom dataset trained model"
I trained T5 small model on 10k rows of a dataset with each sentences added with the **'Review'**  prefix  and **'Result'** prefix with the target column. The trained model looks confused since it throws output with with any random prefixes and sometimes the output is in German or Spanish though the dataset is entirely in English.

[2020-09-21 13:33] working12 opened #410 "Measuring the correct time of training or finetuning"
I am running the training like this
```python -m t5.models.mesh_transformer_main ....... [other options]```. Is there any way I can check how much time did it take to train the model?

What are the possible ways of measuring the time?

[2020-09-21 13:58] craffel commented on #410
Hi, if you did not time the command itself, you can look at the time of the first and last logged events in Tensorboard.

[2020-09-21 13:58] #410 closed

[2020-09-21 14:02] craffel commented on #409
How long did you fine-tune for? You may just need further fine-tuning. I would also suggest trying Base, Small is not terribly reliable.

[2020-09-21 14:02] #409 closed

[2020-09-21 14:05] craffel commented on #408
There is no function, but you can use get_dataset on your mixture or task to get tokenized examples and look at statistics of their length over your training set.

Yes.

I don't see any reason that 11B should do better specifically on longer sequences, but it should do better in general regardless of sequence length.

[2020-09-21 14:09] working12 commented on #410
@craffel Hello. Thanks.  Sorry but can you say where I can find these logs of tensorboard? Pretty new using all these.

[2020-09-21 14:12] craffel commented on #410
In the model directory you specified when invoking `python -m t5.models.mesh_transformer_main`. You can start up a tensorboard server with `tensorboard --logdir your_model_dir`

[2020-09-21 14:14] working12 commented on #410
@craffel  I will try to work this out. In case I get stuck I will ask again. Thx.

[2020-09-21 14:38] working12 commented on #240
@adarob Can you explain the meaning of these two terms? steps meanings epochs here? Examples means the number of qa pair it reads and processes in 1 sec?

[2020-09-21 14:56] vkaul11 commented on #408
Thanks from from one more issue I saw that you use only relative positions upto 128 sequence distances for the self-attention right? Is that both for encoder(two sided) and decoder (one sided). This number 128 does not change if we use a larger model ?

[2020-09-21 15:01] craffel commented on #408
No it doesn't, any relative position above 128 is just assigned to the same "far away" bucket regardless of model size.

[2020-09-21 19:15] vkaul11 commented on #408
Thanks Colin. Also if we want to say use information for both sides like in a task like NER, can we also use the decoder output as input to a CRF so that it finds the optimal sequence from the decoder?

[2020-09-21 20:14] craffel commented on #408
I'm sorry, I don't think I understand what you're asking about.

[2020-09-21 20:28] vkaul11 opened #413 "finetuning does not save enough checkpoints when I switch to "large" and "11B" model"
I see when I use fine-tuning and use "small" and "base" model I do get the checkpoints saved every 1000 steps but when I go to larger "models" lesser number of checkpoints are saved. Is this by design ?

For example:
[code]
When I use the "small" and "base" then we keep more checkpoints I see checkpoints saved corresponding to fine-tuned steps 1000,2000,3000,4000,5000. With "large" I have only 400

[2020-09-21 20:50] craffel commented on #413
Hi, the code you posted specifies keep_checkpoint_max = 1 for the 11B model.
[code]
 Raise this value if you want more checkpoints to be retained. You can also just override the value being specified in the construction in `MtfModel` (`keep_checkpoint_max=keep_checkpoint_max`)

[2020-09-21 20:50] #413 closed

[2020-09-21 20:54] vkaul11 commented on #408
I mean that in decoder the self-attention works from left to right (that is my assumption) plus we get decoder-encoder attention. However, in NER for example a sequence [city] [state] [zipcode] maybe more likely than [city] [zipcode][state] and the CRF can jointly find the best 3 point sequence. So when we use encoder only architecture, we jointly try to optimize the probabilities of all token cla

[2020-09-21 20:58] craffel commented on #408
Sorry, I don't think this is in-scope for github issues.

[2020-09-22 03:10] working12 commented on #193
@sharannarang  To be crystal clear for future users

If I have a input sentence like "This is a test" and correspoding output to be "correct answer" then sequence length for the inputs would be 4 and  outputs would be "2" right? (or do you mean tokenized  parts like "Th is a te st" so it would be 5 for inputs?)

[2020-09-22 03:32] working12 opened #414 "iterations_per_loop explanation"
iterations_per_loop:  from the source itself is `integer, steps per train loop`. Now steps means each gradient update. So that means if I have batch size of 128. Then it will read 128 Q/A pairs and then will update once.

But where does this training loop come form? Can anybody explain in simple terms?

[2020-09-22 04:26] wasiahmad opened #415 "How does relative distance is computed for cross-attention in T5 model?"
I am trying to understand how does relative distance is computed for cross-attention in the T5 model. My understanding is based on the Hugginface T5 implementation.

Let's assume we have a source sequence of length 7 and a target sequence of length 5. In the cross-attention sublayer at each decoder layer, every token in the target sequence attends every token in the input sequence.

In the T5 mode

[2020-09-22 12:59] craffel commented on #415
Hmm, `bidirectional` should be `True` for the enc-dec attention (https://github.com/tensorflow/mesh/blob/master/mesh_tensorflow/transformer/transformer_layers.py#L712). I'm not familiar enough with the HF implementation to know whether it should be True or False there. @thomwolf @sshleifer any thoughts?

[2020-09-22 13:01] craffel commented on #414
Hi, iterations_per_loop defines the number of training steps that should be run at a time on the TPU. It is an implementation detail that can largely be ignored.

[2020-09-22 13:01] #414 closed

[2020-09-22 13:01] craffel commented on #193
It corresponds to tokenized lengths.

[2020-09-22 13:47] adarob commented on #193
I think it would be worth creating a simple script to compute the length
distribution for a given task.

On Tue, Sep 22, 2020 at 9:01 AM Colin Raffel <notifications@github.com>
wrote:

[2020-09-22 13:51] adarob commented on #408
I think it would be worth creating a simple script to compute the length
distribution for a given task.

On Mon, Sep 21, 2020 at 4:59 PM Colin Raffel <notifications@github.com>
wrote:

[2020-09-22 15:15] mnskim opened #417 "Base model's operative_config.gin isn't in GCS"
It seems the operative_config.gin is not in gs://t5-data/pretrained_models/base

[2020-09-22 15:39] sshleifer commented on #415
I think it should be `True` for cross attention, but I defer to @patrickvonplaten and @thomwolf.

[2020-09-22 15:40] adarob commented on #417
It's there. See second page of https://console.cloud.google.com/storage/browser/t5-data/pretrained_models/base/

[2020-09-22 15:40] #417 closed

[2020-09-22 15:46] patrickvonplaten commented on #415
Hey @wasiahmad - thanks for the issue - this indeed looks like a bug. I will investigate this week!

[2020-09-22 17:10] working12 commented on #410
@craffel  If I am not wrong, I need to run tensorboard before I run the training command in a separate terminal right?

[2020-09-23 15:46] craffel commented on #410
The events files are saved over the course of training whether you are running tensorboard or not. You can run tensorboard after the fact to parse and visualize the events files.

[2020-09-24 23:32] arglog opened #422 "Add huggingface T5Config for t5.1.1.x models"
Hi,

I'm trying to load pre-trained `t5.1.1.x` models into huggingface. However, there are only T5Config files available for `small`, `base`, `large`, `3b` and `11b`, but not for `t5.1.1.x` models. I therefore manually created a T5Config for `t5.1.1.large` according to the parameters in `t5.1.11.larg.gin` as below:
[code]

I then load the pretrained `t5.1.1.large` model as below
[code]

Unfortunat

[2020-09-25 14:22] craffel commented on #422
Hi, we don't know much about the HF library here - you should comment on this issue on the HF repo: https://github.com/huggingface/transformers/issues/6285

[2020-09-25 14:22] #422 closed

[2020-10-06 09:52] mikechen66 commented on #57
I have used the following section of code to solve the the issue.

[code]

[2020-10-08 10:52] Stellakats commented on #269
Hi! Did you manage to find a solution for this?

[2020-10-09 20:26] chrisrytting commented on #133
@adarob Sorry to pester you once again about the weights for the fill-in-the-blank task, but we'd love to use them and wonder how likely it is that they will be released? It sounded open-ended last time you spoke on the issue. If at all likely, do you have an idea of when? Thanks!

[2020-10-13 07:55] mainakmanna commented on #410
@craffel Where exactly one can notice these events? I have started tensorboard in the designated directory and it is showing the scalar evaluation graphs as per the metric defined under the "custom scalar" tab.

[2020-10-13 10:52] JohnBurden opened #439 "Pretrained Model Weird Output"
I am trying to do some work evaluating the capabilities of T5 and other language models.
I have followed the notebook for deployment ( https://github.com/google-research/text-to-text-transfer-transformer/blob/master/notebooks/t5-deploy.ipynb) and this works fine.

However when I change the model to the ordinary pre-trained one (rather than the fine-tune on NQ) found on the front page (gs://t5-data

[2020-10-13 11:29] craffel commented on #439
Hi, the double question mark is what the tokenizer outputs when it decodes a mask token. The pre-training objective uses these mask tokens. Without further fine-tuning and without a task prefix, it will output lots of mask tokens.

[2020-10-13 11:29] #439 closed

[2020-10-13 11:40] craffel commented on #410
I'm not sure I understand your question - it sounds like you can see the graphs? If you look at the date/time of leftmost point on the graph, that is the start time; the rightmost point has the end time.

[2020-10-13 11:44] mainakmanna commented on #410
Yes, I can see the graph. And this is the process you have been mentioning. I was expecting something in the line of "there is a tab where you can see the relevant logs in summarized form."  Now I understand. Thanks for clarifying. @craffel

[2020-10-13 11:45] JohnBurden commented on #439
Thanks for the information.
Is there possibly anywhere to find information about how to use task prefixes for a non-finetuned model? Thanks again.

[2020-10-13 11:49] craffel commented on #439
See the appendix in the paper, all the prefixes are listed there.

[2020-10-13 17:19] arglog commented on #224
Hi @sharannarang

Does this mean that we need to train (or fine-tune) a separate model for every specific blank length? For example, in the [T5 blog](https://ai.googleblog.com/2020/02/exploring-transfer-learning-with-t5.html) there is a demo showing that the model can fill in the blank with 8 different lengths (N=1, 2, 4, 8 16, 32, 64, 512). So are there 8 different models where each model is hand

[2020-10-13 17:33] craffel commented on #224
There was a single model trained to fill in blanks of various sizes, all at once.

[2020-10-14 16:00] Livenn opened #440 "TPU training on Colab: Value Error during pretraining"
I tried to train T5 from scratch on Colab TPU got a following error:

[code]

I also found that layer named by *shared/embedding_slice_0* was not properly initialized as follows:

[code]

while the other layers were initialized as follows
[code]

here is link to source notebook: [https://github.com/Livenn/t5_test](https://github.com/Livenn/t5_test)

[2020-10-14 16:26] craffel commented on #440
You need to call `tf.disable_v2_behavior()` after importing TensorFlow to use mesh. Please re-open if this doesn't work.

[2020-10-15 17:26] chrisrytting opened #443 "Instructions for downloading C4 seem insufficient"
**What I need help with / What I was wondering**

I'm trying to download C4 via your instructions. You link to the [tfds instructions for beam](https://www.tensorflow.org/datasets/beam_datasets). Following these instructions and the [Google Cloud Dataflow quickstart](https://cloud.google.com/dataflow/docs/quickstarts/quickstart-python) therein, I successfully start a job, but the workers that goog

[2020-10-16 11:59] adarob commented on #443
It looks like your answer so I'm closing this: https://stackoverflow.com/questions/64376255/how-to-resolve-a-403-error-inhibiting-number-of-workers-google-cloud-dataflow-ca

[2020-10-16 11:59] #443 closed

[2020-10-16 14:37] chrisrytting commented on #443
Yes, that does solve my specific problem, and you guys might consider including something about how quotas need to be increased manually in order for the apache beam command you provide to work at the scale it's intended for (multiple hundreds of workers). I had to dig around quite a bit to figure out what was going on wrt the quotas just because I'm new to GCP and I assumed that your instructions

[2020-10-16 22:12] mainakmanna opened #452 "Saving/Exporting the score after evaluation"
Executing the eval command as mentioned in the README file of the repository, we get model initialization steps, output predictions, and the eval scores. With the generated event files we can check the scores on tensorboard. Is there any way, without getting to the tensorboard, we can simply save or export the score as shown at the end of the evaluation of a checkpoint?

[code]

As of now, this is

[2020-10-16 22:32] sharannarang commented on #452
You can use the [parse_tb](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/scripts/parse_tb.py) script to dump the eval scores to a csv file. That should give you access to all the eval scores.

[2020-10-16 22:32] #452 closed

[2020-10-16 22:50] RTKno1 commented on #269
Hi @Stellakats ! Yes I did actually, though it may not be what you are looking for. I actually just followed @huseinzol05 task registry setup here: https://github.com/huseinzol05/Malaya/blob/master/pretrained-model/t5/prepare/finetune-summarization.ipynb for the arguments. So I removed the token preprocessor argument. You can view the colab link I posted as well and navigate to the "Arabic to Engl

[2020-10-20 21:15] danyaljj opened #457 "Running hf_model.py"
I am trying to run your models with [`hf_model`](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py). The current blocker issue is that the code is using `num_parallel_calls` in  [in multiple places](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py#L128), however, this function seems to be [de

[2020-10-21 02:08] danyaljj opened #458 "Model Distillation for T5?"
Hi there 👋

I am interested in writing distillation functionality for T5. Wondering if I can get your wisdom on whether this is a reasonable path. I am summarizing my implementation idea below:

1. In the `mesh` library I found a [`StudentTeacher`](https://github.com/tensorflow/mesh/blob/ac61fa51fe2b72002dcf46bf814fd1ac54f2685f/mesh_tensorflow/transformer/transformer.py#L1637) class which is basic

[2020-10-21 15:07] craffel commented on #458
Hey Daniel,

Yep!

Yep!

If you wanted to use the MtfModel, I'd create a new MtfModel subclass that supported additional arguments as needed. You also can train and run the model from the MTF codebase directly without using the MtfModel and doing all configuration via gin, but we don't usually direct people to do things this way.

[2020-10-21 15:07] #458 closed

[2020-10-21 15:10] craffel commented on #457
Ah, they should all be set to `tf.data.experimental.AUTOTUNE`. I will fix this. Thanks for the heads up.

[2020-10-21 16:23] adarob commented on #458
It would be nice to add this to the MtfModel API if there is a clean way to do it.

[2020-10-21 18:25] #457 closed

[2020-10-21 20:03] qguo96 opened #461 "Export a savedModel"
Hello, I tried to export a saveModel to my project and I followed the instruction and t5-deploy notebook.
[code]

I kept getting this error.
[code]

How can I solve this? Thank you!

[2020-10-21 21:18] danyaljj commented on #457
Thanks @craffel!

Now that we're on this thread:
Might be helpful to mention that the model specified by [`model_dir`](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py#L177) is a Pytorch mode, not a TF model (just in case there is any confusion).

Even better, if you provide an example script for converting TF models to PyTorch ones:
[code]

[2020-10-21 21:26] danyaljj opened #463 "Predictions elicited from `hf_model.py` do no match that of HuggingFace"
Hey there! 👋

**TLDR;** I have this t5-small model that is fine-tuned on natural-questions. For this model, I get its predictions once using `hf_model.py` and another time using HF code. The outputs are different (and the outputs using HF seem to be more reasonable).

This is a thread on using `hf_model.py`; I know that this code is not a well-tested code. Sharing these observations here in case t

[2020-10-21 21:34] danyaljj commented on #458
Okay, I'll give it more thought to see if I can find a reasonable way to implement it.

I'll 2nd @adarob comment that it'd be useful to have this feature in MtfModel API as "distillation" will be one of the active fronts in the coming years.

[2020-10-22 12:54] adarob commented on #461
We should probably make it fall back to the default if it can't find the task.

However, for now you should just follow the instructions of https://github.com/google-research/google-research/tree/master/t5_closed_book_qa.  You can clone that repo, go that folder, and run this command:

[code]

[2020-10-22 12:54] #461 closed

[2020-10-22 14:49] craffel commented on #463
I am guessing the issue is that it is not automatically loading your latest trained checkpoint. It tries to automatically load a checkpoint on initialization:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py#L200
using `load_latest_checkpoint`:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.p

[2020-10-22 17:13] chrisrytting opened #468 "Manual download of common crawl WET files required before C4 apache beam dataflow job?"
I have been having serious trouble executing the simple instructions for downloading C4. After (1) running into quota issues then getting increases, then (2) successfully having the job run for several hours and then crash with an abstruse bug (`TypeError: clean_page() got an unexpected keyword argument 'badwords_regex' [while running 'clean_pages']`), which might have been a dependency error so I

[2020-10-22 18:31] adarob commented on #468
Sorry Chris, I recently refactored to add multilingual C4 (mC4).
What config are you trying to build? You shouldn't need any manual downloads for `c4/en`.

[2020-10-22 18:36] chrisrytting commented on #468
Trying to build `c4/en`. The command I run is

[code]

[2020-10-22 18:38] adarob commented on #468
Yeah, you definitely should not have to do any manual downloads for that, so it is a bug. I will do my best to look into it tonight. You could also go back to an older version.

[2020-10-22 18:41] adarob commented on #468
Can you try creating gs://create-c4/tensorflow_datasets/downloads/manual and leaving it empty?

[2020-10-22 18:43] adarob commented on #468
@Conchylicultor does having MANUAL_DOWNLOAD_INSTRUCTIONS require the manual dir exist even for configs that don't use it?

[2020-10-22 18:44] adarob commented on #468
I see the problematic line now, but I think adding that empty dir will fix your issue for now.

[2020-10-22 18:47] chrisrytting commented on #468
I actually already tried that and it still throws the AssertionError.

Do you have an idea of what a stable version would be? The instructions have us use `tfds-nightly`, which I take to mean updated every night, and I wonder if these instructions were written for a specific version, because as I said above, before I updated to the latest version of `tfds-nightly` and ran into this bug, I had run

[2020-10-22 21:46] adarob commented on #468
Try adding an empty file in there as well. I think that will allow it to pass.

[2020-10-22 23:31] adarob commented on #468
I just submitted https://github.com/tensorflow/datasets/pull/2638/commits/ff3076c926e46caa12724d693c4add7c5688722e and updated tfds-nightly, which should fix the manual dir issue.

The clean_pages bug sounds like your workers and manager VMs have different versions of tfds. I think you just got unlucky and the workers picked up the version after the refactor while your manager had the older one. I

[2020-10-22 23:31] #468 closed

[2020-10-22 23:33] chrisrytting commented on #468
Thanks for your help! I'll try this out tomorrow.

[2020-10-24 13:32] juliahane opened #475 "how to run the pytorch model text-to-text-transfer-transformer/t5/models/hf_model.py"
Hi
I need to run this model text-to-text-transfer-transformer/t5/models/hf_model.py
could you please tell me how to run it on a sample mixture of datasets?
thanks for your help

[2020-10-24 14:01] craffel commented on #475
Hi there, there is a usage example at the top of the file:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py#L27

[2020-10-24 14:01] #475 closed

[2020-10-24 18:54] juliahane opened #476 "error using hf_model"
Hi
I am trying to call hf_model

[code]

Here is the error stack
[code]

[2020-10-24 18:54] juliahane commented on #476
could you please help me?

[2020-10-24 19:14] juliahane commented on #476
I commented out num_parallel_call and then I ran into this issue, I greatly appreciate assisting me to run this example:

[code]

[2020-10-24 19:27] juliahane commented on #476
I also got this warning, could you please assist me with updating t5 minimally making this example work. thanks

UserWarning: Creating resources inside a function passed to Dataset.map() is not supported. Create each resource outside the function, and capture it inside the function to use it.

[2020-10-24 19:38] juliahane opened #477 "training hf_model as script provided gives several errors"
Hi,
I followed the training script given on top of hf_model, I am getting these errors, I really appreciate assisting me to train this model

[code]

Here is the training command:
[code]

[2020-10-24 20:05] juliahane commented on #463
I believe he has used this checkpoint here: https://huggingface.co/t5-small
this is also my issue, it would be really helpful if you could assist in solving this issue. thanks.

[2020-10-24 20:06] juliahane commented on #463
I am not sure how to use load_latest_checkpoint, could you please tell me how I can add this? thanks

[2020-10-24 20:33] juliahane commented on #463
I looked at load_checkpoint and save_checkpoint, this seems to be normal pytorch code, and the error to me is not due to other checkpoint format, could you have a closer look please? thanks

[2020-10-24 21:42] juliahane commented on #457
Hi this issue is not yet fixed when one install your repo with pip, could you please have a look? thanks

[2020-10-25 13:17] craffel commented on #457
@danyaljj PRs welcome :)

[2020-10-25 13:18] craffel commented on #457
@juliahane This has not made it into the pip release yet, you need to install the current code from GitHub. You can do this with pip via pip install git+https://github.com/google-research/text-to-text-transfer-transformer.git

[2020-10-25 13:53] craffel commented on #477
Hi, this code is working fine when installed from source: https://colab.research.google.com/drive/1MNJVqfCqnaT2lb7IV87O1fPKWTwJansy?usp=sharing
The error you are seeing is in `tensorflow-datasets`. You may have an old version of `tensorflow-datasets` installed or something. I would suggest creating a new Python environment, running `pip install git+https://github.com/google-research/text-to-text-t

[2020-10-25 13:53] #477 closed

[2020-10-25 13:53] craffel commented on #476
The `num_parallel_calls` error should be fixed when installing from the latest code on github: `pip install git+https://github.com/google-research/text-to-text-transfer-transformer.git`
The warning you can ignore.

[2020-10-25 13:53] #476 closed

[2020-10-25 13:53] #415 closed

[2020-10-25 23:47] juliahane opened #478 "hf model example does not run"
Hi,
I ran the example on top of hf model for running the model on pytorch, here is the stack errors, could you please assist me, thanks

/opt/conda/envs/julia/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qi

[2020-10-26 13:22] craffel commented on #478
It looks like you are using an old or otherwise incorrect version of Tensorflow. Please create a clean Python environment and install t5 via pip; we have tested that this currently works fine.

[2020-10-27 03:26] alibi123 opened #481 "Accuracy is not shown in the logs."
I've added multiple metrics from `t5.evaluation.metrics` but I cannot see them in the logs. All I can see in the logs is:
[code]

And here's how I've added data task:
[code]

[code]

Why I can't see accuracy metrics?

[2020-10-27 12:29] craffel commented on #481
You need to eval the model. It will not print out accuracy or other metrics unless it is in eval mode.
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/mtf_model.py#L265

[2020-10-27 12:29] #481 closed

[2020-10-27 22:35] rabeehkarimimahabadi commented on #463
Hi Daniel,
+1 with @craffel, I changed the evaluation to what the model is trained on, here is the results of two model, and they match well:

1) HuggingFace T5 model
[code]
Results:

[code]
2) HF T5 model

[code]

Results:
[code]

[2020-10-27 23:08] #463 closed

[2020-10-28 20:36] juliahane opened #483 "issue with T5 data downloading"
Hi
I am trying to run the model on the cloud. I made a T5 mixture task with some existing datasets in tfds, but the model is not able to download them automatically. Here is what I do for task creation as example, am I missing an step?

[code]

thanks for your help.

[2020-10-28 20:40] cameronalonso2 opened #484 "data parallelism with pytorch version"
Hi
I am considering using pytorch version of T5, I see dataset part is handled in tensorflow, so I hope the same performance trick can be applied to this model as well. could you tell me how I can use data parallelism with HF model?
thanks

[2020-10-28 20:51] adarob commented on #483
what error are you seeing?

[2020-10-29 01:57] craffel commented on #484
It's not supported in the current hf_model.py code. If you want to modify the implementation to use data parallelism (via pytorch lightning or otherwise) it would be most welcome.

[2020-10-29 12:17] cameronalonso2 opened #486 "providing the example for two tfds tasks"
Hi
could you provide an example how to join two tfds tasks to form T5 datasets?
thanks

[2020-10-29 12:31] craffel commented on #486
You can just use a `Mixture` like this: https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/mixtures.py#L194
If you want it to work like you have just concatenated the two datasets, you should set `default_rate=t5.data.rate_num_examples`.

[2020-10-29 12:31] #486 closed

[2020-10-29 12:52] cameronalonso2 opened #487 "please add more examples on how to form T5 datasets"
maybe some translation, and question answering could be helpful

[2020-10-29 12:52] cameronalonso2 commented on #487
for instance if there is question + passage, answer how the task should be formed?

[2020-10-29 13:02] craffel commented on #487
There are many examples of QA and translation tasks/preprocessors in the codebase. e.g.
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/preprocessors.py#L280
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/tasks.py#L242
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/preproces

[2020-10-29 13:02] #487 closed

[2020-10-30 03:25] danyaljj opened #488 "`physical and logical shapes must have the same product`"
On a v3-8 TPU (software version 2.2), I am getting the following error:

[code]

When running the following command:
[code]

here are the parameters:
[code]

[2020-10-30 13:32] craffel commented on #488
This means that the mesh layout determined by Mesh TensorFlow does not map onto the device you are training on (a v3-8). I am guessing the file "${PRETRAINED_DIR}/operative_config.gin" has model_parallelism > 8 (probably 32 based on that error message) or something, is that the case? This would mean that you are telling mesh to split up the model 32 ways on a device with only 8 cores, so it's comp

[2020-10-30 14:52] danyaljj commented on #488
Got it, thank you! 🙏

[2020-10-30 14:52] #488 closed

[2020-10-30 18:17] rabeehkarimimahabadi commented on #463
I tried to finetune the released pytorch code on WMT, the blue score I am getting was around 1 after 50000 steps, I am pretty sure there is a bug in the data processing pipeline, and that this does not match Huggingface model decoding.

[2020-10-30 18:19] craffel commented on #463
We verified that the results for translation are roughly the same in the past. https://github.com/huggingface/transformers/issues/5543

[2020-10-30 18:19] rabeehkarimimahabadi opened #489 "finetuning pytorch model on WMT"
Hi,
I finetuned the pytorch model on WMT, from scratch, after 50000 iterations, I was getting 1 blue score.
I think the way data processing is done, does not match the way decoding works in huggingface model, resulting in low performance for the HF model.
It would be great if this can be fixed. thanks.

[2020-10-30 19:02] rabeehkarimimahabadi commented on #463
Hi Colin
Is this with pytorch version? In the discussion it seems it is with tensorflow version. thanks

[2020-10-30 19:04] craffel commented on #463
It's comparing the Mesh Tensorflow version to the Hugging Face PyTorch version.

[2020-10-30 19:10] rabeehkarimimahabadi commented on #463
Hi
sorry I think there is misunderstanding, I evaluated the HF pytorch version so the model which wraps the huggingface model. thanks.

[2020-10-30 19:39] craffel commented on #463
Yes, we have verified that that model gives the same outputs as the mesh tensorflow version.

[2020-10-30 19:44] rabeehkarimimahabadi commented on #463
Hi, thanks for the response, I still think the discussion in huggingface/transformers#5543 is comparing mesh transformer version with huggingface model, but I evaluated this model: https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py thanks

[2020-10-30 19:45] craffel commented on #463
The model in https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/hf_model.py is the hugging face pytorch model. The code in that file just calls out to the hugging face library.

[2020-10-30 20:33] rabeehkarimimahabadi commented on #463
Hi
The encoding/decoding part of this model in data pipeline processing does
not match the huggingface one and I am thinking this might be the cause  of
the difference.

On Fri, Oct 30, 2020 at 8:46 PM Colin Raffel <notifications@github.com>
wrote:

[2020-10-30 20:46] craffel commented on #463
Can you be specific about any differences you have found? The encoding and decoding both use the same sentencepiece model.

[2020-10-30 21:29] rabeehkarimimahabadi commented on #463
Hi
I am not sure which part is exactly different causing it, this require a
deeper look into codes for debugging. I just tried to run your HF model on
WMT dataset from scratch.

On Fri, Oct 30, 2020 at 9:46 PM Colin Raffel <notifications@github.com>
wrote:

[2020-10-31 11:21] rabeehkarimimahabadi commented on #463
Hi
I investigated the codes more, as I guessed, the way you encode inputs
/decode the final outputs does not match the huggingface model, resulting
in poor performance, below, please find how I corrected the predict
function in your HF model:

dataset_len = len(inputs)
dataset = tf.data.Dataset.from_tensor_slices(inputs)
import numpy as np
from transformers import T5Tokenizer
path="/home/rabeeh/pl

[2020-10-31 12:05] cameronalonso2 opened #490 "T5 colab provided to show dataset registry does not run"
Hi
could you please run this colab and make sure this is running? there are multiple issues ,like not importing relevant modules, .....  not defining directories ... , could you please run and check this is running fine? thanks

[2020-10-31 14:05] craffel commented on #490
What colab are you referring to?

[2020-10-31 20:05] cameronalonso2 opened #491 "coding styles are not readable"
Hi
I found the codes quite dirty, maybe you would like to spend sometime cleanup your codes and practice some coding!
thanks

[2020-10-31 20:07] cameronalonso2 commented on #491
Google should be ashamed of having you as employees!

[2020-10-31 20:09] cameronalonso2 commented on #491
This is a Google paper, and the coding standard is far below any school student without software engineering knowledge !

[2020-11-01 10:33] rabeehk opened #493 "making the codes generalizable to use other encoders as well"
Hi,
Looking into t5/data/dataset_providers.py [1] line 618, you append a predefined tokenizer, to the list of task preprocessor, and then this is applied by default. I would like to change the tokenizer, could you assist in modifying the codes in a way allowing the users to use any tokenizer? thanks

[2020-11-01 10:35] rabeehk opened #494 "Making "copy_plaintext=True" a parameter for get_mixture_or_task function"
Hi,
I need to return the original input text from a constructed mixture, currently "copy_plaintext=True" is only a parameter for getting a dataset, not the mixture, could you assist in making "copy_plaintext=True" a parameter for get_mixture_or_task function to allow users have the original text when reading mixtures.
thanks.

[2020-11-01 13:04] rabeehk commented on #489
Hi
I am not sure if the issue is with setting, could you please run your codes on WMT and verify it is working?
I tried multiple times, and the bleu score is hardly get to 1. thanks.

[2020-11-01 22:36] sbhaktha commented on #458
Hi, I took a look at how this might be done via the `gin` file. Based on what's happening in the [`initialize` method](https://github.com/tensorflow/mesh/blob/4f82ba1275e4c335348019fee7974d11ac0c9649/mesh_tensorflow/transformer/transformer.py#L1770) it seems that all parameters for `teacher` and `student` passed via the `gin` file under `teacher` and `student` contexts will be initialized appropri

[2020-11-02 13:26] craffel commented on #458
Hi Sumithra, for the `StudentTeacher` class you should use the `teacher_checkpoint` arg instead of `init_checkpoint` from `run`.
https://github.com/tensorflow/mesh/blob/4f82ba1275e4c335348019fee7974d11ac0c9649/mesh_tensorflow/transformer/transformer.py#L1646

[2020-11-02 13:33] #491 closed

[2020-11-02 13:43] craffel commented on #493
Hi Rabeeh, you can use any tokenizer and we currently support SentiecePiece and byte-level tokenization (see https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/vocabularies.py and https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/sentencepiece_vocabulary.py). The old `Task` class requires tokenization to happen during pre

[2020-11-02 13:43] #493 closed

[2020-11-02 13:46] craffel commented on #494
Hi Rabeeh, the `get_dataset` function of `Mixture` does have a `copy_plaintext` argument:
https://github.com/google-research/text-to-text-transfer-transformer/blob/da03f71310330bfaf14a1f6072c1e62b563ec91d/t5/data/dataset_providers.py#L1030
`get_mixture_or_task` returns a `Task` or `Mixture` object that you can then call `get_dataset` on with `copy_plaintext=True`.

[2020-11-02 16:00] adarob commented on #494
@rabeehk can you provide more details on your use case? There are a few complications with getting plaintext via mixture depending on what token preprocessors you use.

[2020-11-02 18:36] sbhaktha commented on #458
Thanks, @craffel . However, just `run.teacher_checkpoint`, similar to `run.init_checkpoint`, but that doesn't work: ```ValueError: Configurable 'run' doesn't have a parameter named 'teacher_checkpoint'.```
[`run`]((https://github.com/tensorflow/mesh/blob/6fffafc1b17bcdef82dbb10ba952ac6256e39b07/mesh_tensorflow/transformer/utils.py#L2184)) currently does not take a `teacher_checkpoint` parameter. S

[2020-11-02 19:17] craffel commented on #458
Hi Sumithra, you need to pass `teacher_checkpoint` to `StudentTeacher` not `run`: `StudentTeacher.teacher_checkpoint = blah` rather than `run.teacher_checkpoint`.

[2020-11-02 21:54] genderbias opened #498 "Error while training a T5 model"
Hello,

When I try to train the T5, I get the following error. I replaced the tpu model, bucket address and other parameters, it runs for few seconds but suddenly stops here. do you have any idea?:

`
INFO:tensorflow:auto_logical_to_physical_tpu logical_shape=[128] physical_shape=[2, 2, 2] I1102 21:45:42.147541 140059250689856 simd_mesh_impl.py:860] auto_logical_to_physical_tpu logical_shape=[128]

[2020-11-02 22:04] sbhaktha commented on #458
ugh, thank you! :-) I am not too familiar with `gin`.
Is there a recommended default for the `temperature` and `fraction_soft` parameters? I didn't set them and since they default to `None`, the division [here] (https://github.com/tensorflow/mesh/blob/4f82ba1275e4c335348019fee7974d11ac0c9649/mesh_tensorflow/transformer/transformer.py#L1730) blows up. Wondering what would be good defaults for it an

[2020-11-02 22:16] sbhaktha commented on #458
I guess ultimately we need some hyperparameter tuning for both these values (with temperature value during training needs to be higher, > 1). However please let me know if you have suggestions.

[2020-11-03 00:16] adarob commented on #498
It's tough to say without more details, but it looks like you may no be setting the tpu_topology correctly. What size TPU are you using and what is your launch command?

[2020-11-03 09:03] ArijRB commented on #2
Hello,
I was wondering if there is any change in handling newlines for a new dataset tsv format.
Thank you in advance

[2020-11-03 16:24] adarob commented on #2
No, tsv will never support newline characters since tsv files are split on newlines. You could use some other sequence (like __NEWLINE__) to replace newlines in your text and then convert them to \n in a preprocessor. Otherwise, you can just a TFRecord file for your inputs.

[2020-11-03 16:53] craffel commented on #498
You are trying to run a model with a large amount of model parallelism on a v3-8 or v2-8 device. Try setting --model_parallelism=1.

[2020-11-03 19:14] danyaljj commented on #458
@craffel @sharannarang @adarob

With @sbhaktha 's help, we put together [a gin file for distillation](https://gist.github.com/danyaljj/9d8674f6a812844c46da498d86501dff). This file,
 - species the checkpoints for [the student model](https://gist.github.com/danyaljj/9d8674f6a812844c46da498d86501dff#file-distillation_11b_small-gin-L259) and [the teacher model](https://gist.github.com/danyaljj/9d8674f

[2020-11-03 19:27] craffel commented on #458
Hi Daniel, is that the full stack trace? The only time I have seen that kind of error is when the TPU is down (preempted or failed to launch). But, otherwise, I'm not sure what the issue would be.

[2020-11-03 19:50] sbhaktha commented on #458
@craffel Thanks for your prompt response, Colin. [Here's](https://gist.github.com/sbhaktha/990a13e17b79dd92c3f893fda98f657a) the entire log.

[2020-11-03 20:00] craffel commented on #458
Sorry, I really don't know - I can try to reach out to internal people who may be able to help you figure what's going wrong. Are you certain that the TPU wasn't preempted, or that it failed to start? (that it has a running status in your cloud console)?

[2020-11-03 20:19] sbhaktha commented on #458
Hi Colin, Yes the TPU does show up as READY under `gcloud beta compute tpus list --zone <zone>` and on the gcloud console:

<img width="1120" alt="Screen Shot 2020-11-03 at 12 20 08 PM" src="https://user-images.githubusercontent.com/5631150/98036322-ac881500-1dce-11eb-92c7-80ecfefe0723.png">

If you're able to get more eyes on this that might help us move forward, it would be greatly appreciated!

[2020-11-04 12:00] dulanafdo opened #502 "Training T5-large model for Question Answering"
Are there are any specific documents that I can follow, to do the training of the t5 model for Question answering?

[2020-11-04 14:24] craffel commented on #502
See our colab http://tiny.cc/t5-colab

[2020-11-04 14:24] #502 closed

[2020-11-04 14:29] craffel commented on #458
Hi Daniel and Sumithra, I had some internal folks look it over and they think it's likely an inscrutably-reported OOM on the TPU worker. Do you want to try increasing model parallelism and/or decreasing batch size?

[2020-11-04 14:46] adarob commented on #502
goo.gle/t5-cbqa shows how to get our best results.

On Wed, Nov 4, 2020, 9:24 AM Colin Raffel <notifications@github.com> wrote:

[2020-11-04 17:34] sbhaktha commented on #458
Thank you so much for finding that out! I am planning to run a POC with distilling base -->small today before trying 11b again with reduced batch size/increased model parallelism.

[2020-11-05 05:23] dpanshu opened #507 "Training is very slow on GPU for trivia_qa notebook"
I am running the trivia_qa notebook on GPUs and here is what I have noticed.
| num_gpus      | memory_utilization | GPU_utilization |
| ----------- | ----------- |----------- |
| 1      | 90%       | 40%       |
| 8   | 90%        | 4% / GPU        |

Training on GPU is extremely slow with ~4 sec / step irrespective of num GPUs. I verified that all the GPU's are being utilized in multiple GPU trai

[2020-11-05 13:24] craffel commented on #507
Hi, what is the trivia_qa notebook? Do you mean http://tiny.cc/t5-colab? Did you follow the instructions here: https://github.com/google-research/text-to-text-transfer-transformer#gpu-usage to enable multi-GPU usage by Mesh TensorFlow?

[2020-11-08 22:31] rabeehkarimimahabadi commented on #494
Hi Adam,
thanks for reopening it, when you call task = t5.data.get_mixture_or_task(mixture_or_task_name) in the HF model, this is not possible to get the original tasks, but I am currently rewriting your whole data pipeline in PyTorch to allow distributed training, so we can consider it closed for now. thanks.

[2020-11-09 14:56] adarob commented on #498
Closing this out since there has been no response. Please open a new issue if @craffel's suggestion didn't work.

[2020-11-09 14:56] #498 closed

[2020-11-09 14:56] #490 closed

[2020-11-09 14:58] adarob commented on #324
MtfModel now supports an `extra_gin_bindings` argument that fixes this issue.

[2020-11-09 14:58] #324 closed

[2020-11-09 14:58] #483 closed

[2020-11-09 14:59] #349 closed

[2020-11-09 14:59] #494 closed

[2020-11-09 15:01] adarob opened #513 "Support loading vocabulary from model directory, or include in gin"
This will avoiding needing to import pretrained model tasks just to get the vocabulary path.

https://github.com/google-research/multilingual-t5/issues/19

[2020-11-09 18:48] dpanshu commented on #507
I was using a few CPUs, increasing the number of CPUs resolved the issue

[2020-11-09 18:48] #507 closed

[2020-11-09 18:50] dpanshu opened #514 "Evaluating fine-tuned model is throwing error"
I trained a pre-trained T5 using similar code as trivia-qa notebook, however the evaluation part throws the following error
[code]

[2020-11-09 18:52] adarob commented on #514
You'll need to run `tf.compat.v1.disable_v2_behavior()` for v1 summary to work.

[2020-11-09 18:52] adarob commented on #514
@sharannarang will this be fixed with your changes?

[2020-11-09 20:05] bhavanadalvi opened #515 "model.eval vs model.predict"
Can someone please explain the difference between model.eval and model.predict functionalities?
Same T5 model gives much better predictions when I use model.eval instead of model.predict.
In terms of accuracy on an end task I get a performance difference of around 20%, which is huge.
I tried changing temperature and beam_size parameters but couldn't improve model.predict's performance to match tha

[2020-11-09 20:24] dpanshu commented on #514
That resolves it. Thanks

[2020-11-09 20:24] #514 closed

[2020-11-10 14:57] craffel commented on #515
Do you mean you use model.predict, take the predictions, and then feed them into a metric to get the accuracy or whatever? What task is it for? When you use predict and separately feed the predictions into the metric, you are skipping any postprocessing that the task does before computing the metric. For example, for question-answering, it's standard to lowercase the predictions before eval'ing th

[2020-11-10 17:34] sbhaktha opened #517 "Distilling a T5 model: Need appropriate values for model_parallelism and tokens_per_batch to train a t5.small_ssm model on v3_512, v3_1024 and v3_2048 TPUs"
Hello,

I cannot figure out appropriate values for the `model_parallelism` and `tokens_per_batch` parameters to train a t5 small_ssm model. Specifically, what I am trying to do is distill from an `xxl_ssm` teacher model that was fine-tuned on Natural Questions, to a `small_ssm` student model. I need to fit both the teacher and student models in memory and I attempted to do this training on a v3-25

[2020-11-10 18:55] craffel commented on #517
Hi Sumithra, in the operative config you sent it looks like you had model_parallelism=1. Maybe it is not getting set to 8 appropriately? The OOM issues should be solvable via model parallelism and 8-way should be enough. Large batches should get serialized into microbatches, but you could also just try using a tiny batch size as a sanity check.

[2020-11-10 19:05] sbhaktha commented on #517
Hi Colin,

The parameters in the `gin` file are overridden by the command line:

[code]

[2020-11-10 19:22] craffel commented on #517
Ah, I didn't look at the error you are getting, I just assumed it was an OOM. The issue is that the same model parallelism will be applied across the student and teacher models since all of their dimensions have the same name, and we can't divide the head dimension of the small model by 8 because it only has 6 heads. Is there any reason you are choosing the small model over a larger model to try d

[2020-11-10 19:48] bhavanadalvi commented on #515
For both model.eval and model.predict, I am only using the actual predictions file generated by T5. I have a separate metric computation code that already accounts for lowercasing etc. So that part is same for both.
What I see is: predictions themselves are significantly different across these two, with "eval" they are better than "predict".
My task is "fact generation" so there are a couple of se

[2020-11-10 19:52] sbhaktha commented on #517
Thanks Colin! We are trying to produce the smallest model possible via distillation and assess performance gains, but perhaps we could try one of the other models with a multiple of 8 heads. If we were to instead choose renaming the dimensions, how would we go about that? Is it just a change in the `gin` file or would it involve code changes as well?

[2020-11-10 20:00] craffel commented on #517
I think you would need code changes in order to specify which dimension names to apply to which model (student vs. teacher).

I'm not sure whether initializing the student as a pre-trained model will be helpful or not. You could just copy the architecture for t5.1.1-small but make the # heads 8 instead of 6 and use that (randomly initialized, not pre-trained) as the student. That would still be a

[2020-11-10 20:04] sbhaktha commented on #517
Thank you!! How do we do random initialization (via the `gin` file)? Would we skip specifying an `init_checkpoint`?

[2020-11-10 20:09] craffel commented on #517
Yes, just don't supply an init_checkpoint and it will randomly init.

[2020-11-10 20:23] sbhaktha commented on #517
What exactly happens if we simply change the no. of heads to 8 but keep the `init_checkpoint` to point to the pretrained model? I am trying this and it seems to have loaded the student model successfully but I'd like to understand it better. Are any attention related parameters saved in the model? Does it technically make sense to load a pretrained model but change the no. of attention heads from

[2020-11-10 20:29] craffel commented on #517
I think it will just split the parameters 8 ways into 6 ways. I don't think this really makes sense because, effectively, you will be chopping up weight matrices and recombining them in ways that they weren't originally used. But this may not be any worse than using random initialization. Who knows!

[2020-11-11 15:07] craffel commented on #515
Where are you getting the inputs for predict?

[2020-11-11 21:24] patrickvonplaten opened #521 "[T5 v1.1] PreTrained Tokenizer Files"
Hey @craffel ,

Sorry to annoy you again. Do the new T5 v1.1 models: https://github.com/google-research/text-to-text-transfer-transformer/blob/master/released_checkpoints.md use the same pretrained tokenizers as the original T5 models?

[2020-11-11 22:05] agemagician opened #522 "Feature Extraction for T5 Models"
Hello,

We have trained several models using recent T5 release from small models to the 11B models for protein sequences tasks and source code tasks.

We tried to port it to Huggingface library for feature extraction, but due to the changes in mesh tensorflow and T5 library, the porting failed.

My question is:
What is the the easiest way to extract the encoder and decoder final features using T5

[2020-11-11 22:06] craffel commented on #521
Yes. (note that mT5, which is based on T5.1.1, of course uses a different vocab)

[2020-11-11 22:06] #521 closed

[2020-11-11 22:07] craffel commented on #522
This is not possible without modifying the mesh tensorflow transformer implementation itself.

[2020-11-11 22:07] #522 closed

[2020-11-12 01:16] sbhaktha commented on #517
So I fine-tuned an xxl_ssm model that was fine-tuned on the task we are interested in to a small model (8 heads,6 layers) for ~8000 steps and looked at the predictions and they look completely meaningless. It scores 0.78% on the 'exact match' metric we are using on the task. Sample inputs and outputs:

Inputs:
[code]

Outputs:
[code]

The teacher model was not great but scoring about. So clearly s

[2020-11-12 13:43] craffel commented on #517
Hi Sumithra, what batch size are you using? You may just need a lot more training in order for the model to converge. Keep in mind that when using random initialization, the vocabulary matrix is totally meaningless, so the model needs to at least completely relearn language. It may be that distilling onto a non-pre-trained model is just inherently more difficult. I'd also point out that distilling

[2020-11-12 15:32] matchlesswei opened #524 "deploy with own sentencepiece model"
I trained the model using t5 version 0.6.4 and set my own spm model in the TaskRegistry using the following way:
[code]

Now I tried to export saved model using with the latest version:
[code]
But in the latest version module 't5.data.utils' has no attribute 'Feature'.

How can I set my own sentencepiece model?
I tried to set using gin as follows but it doesn't work.
[code]
Thanks in advance for y

[2020-11-12 21:12] sbhaktha commented on #517
Hi Colin, Thanks again for taking the time to reply! I forgot to mention in my comment that in this training I distilled from a fine-tuned xxl-ssm model to a standard small model with no. of heads = 8. And I used the standard small pretrained model as the `init_checkpoint`.

I think for now we are going to pause this direction and try other means of distillation. For now I will close this issue.

[2020-11-12 21:12] #517 closed

[2020-11-13 08:41] shenfe commented on #521
Same question with @patrickvonplaten , because I have tried many times to finetune T5.1.1 on some tasks, but got very lower performance than T5.1.0.

I was using the same pretrained sentencepiece model to tokenize for both T5.1.0 and T5.1.1. So I have some doubt about if the two versions have different token->id mappings, which could result in the difference during training.

[2020-11-13 13:09] patrickvonplaten commented on #415
For reference: https://github.com/huggingface/transformers/pull/8518

[2020-11-13 17:56] sharannarang commented on #514
@adarob, yes, I think it'll be fixed with my changes.

[2020-11-16 05:21] working12 opened #529 "Multiple input files as input"
In the example notebook ([link](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/notebooks/t5-trivia.ipynb)) there is one single train file and one validation file.
[code]
Suppose, to a task, I need to pass several train files and validation files, then what is the best way of doing that in this context using T5? (Dataset is split across multiple training files).

[2020-11-16 05:28] HangCui0510 opened #530 "Error when installing on Computer Canada"
I got the following error when trying to install on Compute Canada. Is there any way i can solve this?
<img width="1673" alt="Screen Shot 2020-11-16 at 12 27 46 AM" src="https://user-images.githubusercontent.com/64120158/99216002-8edd8700-27a2-11eb-8be2-76b25f548c5a.png">

[2020-11-16 15:53] craffel commented on #530
This looks like an error where a downstream library (`cffi`) can't find a required shared library. It's out-of-scope for the kind of support we can offer, sorry. Maybe check with your system administrators.

[2020-11-16 15:53] #530 closed

[2020-11-16 15:54] craffel commented on #529
You can use a glob-like filepattern with the `TextLineDataSource` https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/dataset_providers.py#L379

[2020-11-16 15:54] #529 closed

[2020-11-17 20:15] WilliamTambellini commented on #27
@craffel  I have the same question than @Guillem96  and that issue does not seem to be resolved yet. Would you mind reopening this ticket?

[2020-11-17 20:28] craffel commented on #27
We really can't provide support of the kind "T5 didn't work well for me on task X". Whether it worked or not will depend on a lot of factors (the dataset itself, the size of the dataset, the amount of fine-tuning, the chosen task format, etc). I can tell you at least that we have had great success applying T5 to NER tasks.

[2020-11-18 10:24] sarapapi opened #534 "Error when eval_with_score enabled"
Hi!
I've tried to use your code from google colab but using GPUs instead and a custom dataset (English to German), training succeed but when I try to perform evaluation enabling `eval_with_score` it ends with these message:
`Traceback (most recent call last):
  File "T5google_evaluation.py", line 122, in <module>
    model.eval(
  File "/home/ubuntu/anaconda3/envs/nlp_venv/lib/python3.8/site-packa

[2020-11-18 12:04] mainakmanna opened #535 "Multi-label Classification approach"
In the case of multi-label classification, what should be the correct way of training given a situation like this:-

We have a text document and associated with that 3,4,5 or 6 numbers (which denote the document class it belongs to). An example would be:
[code]
(as you can see the number of labels is different in both cases. 5 in the first document and 6 in the second document)
Now if we want to t

[2020-11-18 13:47] adarob commented on #534
@daphnei can you take a look?

[2020-11-18 14:36] craffel commented on #535
I would suggest not using label IDs and instead use the text corresponding to the meaning of each label. I'd also suggest keeping the order of the labels consistent across the different examples. And yes, you should write a postprocessor function and metric function that satisfies your use-case.

[2020-11-18 14:36] #535 closed

[2020-11-18 14:49] mainakmanna commented on #535
Actually I didn’t have to preprocess anything, the labels were already given in Id form. Maybe I will change them (if possible) to their original meaningful labels rather than numbers. About the metric function I am wondering how the model would predict same number of target labels as given in a sample. For example, if model guesses 4 classes and actually there are 5, how to cope that?

Also by or

[2020-11-18 14:59] craffel commented on #535
It's up to you how to define a metric relevant to your task. An F1 score seems appropriate.

Yes.

[2020-11-18 18:41] mainakmanna commented on #535
I was checking the process of creating the postprocessor function. I don't clearly understand the inputs of such a function. If I write a custom one, what would be in the input? (Because these will be passed to me, so it would be great to know this clearly).

I have noticed this part
[code]
But still it is not clear how the inputs are worked upon here.

[2020-11-19 13:28] minhtam2048 opened #536 "C4 dataset doesn't provide summarized texts"
I read the T5's document and It was well explained. But one thing that bothering me is the link to C4 dataset which is provided in the document doesn't have the summarized data for training process. As far as I know, the training process requires the original and the summarized texts. Can someone point out what I'm missing or how can I obtain the summarized data for training ?
Many thanks.

[2020-11-19 15:02] craffel commented on #536
Hi, C4 is not a summarization dataset, it's just a large unstructured text corpus that we apply self-supervised objectives to. Converting raw C4 data into a format used for training is done by the preprocessors in this library, see e.g. https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/preprocessors.py#L1886

[2020-11-19 15:02] #536 closed

[2020-11-21 01:32] chrisrytting commented on #468
@adarob after updating tfds-nightly to the latest version, I get this error right at the beginning of the job:

[code]

I deleted all the contents of my bucket from last month when I was running the job I mentioned in this issue, updated my manager, and can't find info on this error. Any idea on what I should do?

[2020-11-21 06:27] HangCui0510 commented on #524
I get the following error while training a model, I also want to know how to set sentencepiece model, thanks
[code]

[2020-11-23 03:44] shenfe opened #539 "T5 fp16 training"
We tried finetuning T5 upon a downstream task, in AMP mode (O1 or O2), but found some hidden outputs became overflowing to inf and nan.

Similar problem https://github.com/huggingface/transformers/issues/4586 .

I doubt whether the T5 model architecture tends to produce parameter values beyond fp16 boundary. Or anyone especially the official has ever done any experiment on T5 fp16? Welcome some ad

[2020-11-23 07:02] dpanshu opened #540 "Running distributed training on multiple GPU nodes getting stuck"
Hi, I created a new task pre-training on reddit corpus, and I am looking at using multiple GPU nodes for training my T5. As mentioned in [distributed TF](https://www.tensorflow.org/guide/distributed_training#TF_CONFIG), I set my TF config for each node as follows

[code]
and
[code]

And the command I use for pretraining is as follows,

[code]

However, my training is stuck for hours on just the fo

[2020-11-23 14:48] craffel commented on #540
Hi, with mesh tensorflow you need to specify a layout (how to assign different model dimensions to different devices), see e.g. https://github.com/google-research/text-to-text-transfer-transformer#gpu-usage
I'm not sure if this supports distributed TF at all; it's not something we've tried or support. Maybe @nshazeer can comment on whether mesh tensorflow can be made to work with distributed TF.

[2020-11-23 14:49] craffel commented on #539
All of our experiments use bfloat16 activations.

[2020-11-23 15:00] adarob commented on #524
@matchlesswei try using t5.data.Feature

[2020-11-23 15:00] #524 closed

[2020-11-23 17:04] shenfe commented on #539
Thank you, and all right. The bfloat16 is the reason. So it's understandable that fp16 training did not work.

[2020-11-25 05:38] dpanshu commented on #540
@nshazeer mentioned in here https://github.com/tensorflow/mesh/issues/80 that if we can construct the GPU graph than it would be doable. Are there any pointers on how to do this on AWS

[2020-11-25 10:52] dkajtoch opened #549 "Plans for training custom model on ai platform and preemptible"
Hi, I am planning to pre-train t5 base model on some custom dataset. I am looking for information on how to do it properly and understand how much resources do I need (TPU cores). Here are couple of questions I have:

1. In the paper you used batch size of 128 examples and you also mention somewhere that you use TPU v3-1024 so 1024 cores. The base model is not that big so I wonder what would be th

[2020-11-25 14:34] craffel commented on #549
That was for training T5-11B. We used much smaller slices for the smaller models. v3-32 is plenty big for Base.

We used a batch size of 65536 input tokens = 128 sequences/batch for most of the ablation experiments in the paper. For the T5 models at the end of the paper, we used a batch size of 2^20 tokens = 2048 sequences/batch. That batch size is plenty big to take advantage of plenty of data pa

[2020-11-25 14:34] #549 closed

[2020-11-26 09:44] dkajtoch commented on #549
Thank you very much for the response! One more thing, is dataset state part of the checkpoint? If the machines dies and I would like to restart training from latest checkpoint will it "rewind the dataset" or start from the beginning?

[2020-11-26 15:44] gbxu commented on #540
I'm expecting this feature too. As mentioned in this [paper](https://arxiv.org/pdf/1811.02084.pdf), it will be supported in GPU clusters. Well, maybe the "future" is not coming.

[2020-11-27 06:03] #539 closed

[2020-11-27 15:13] dkajtoch commented on #540
so is it possible to train the model on a cluster of gpus at all? or this only works for a single machine and tpu pod?

[2020-11-29 16:14] ontocord opened #550 "Question about c4 pretraining"
Am I understanding the pre-training setup properly in that C4 is used only to train the decoder, in a causal language model? While the other supervised tasks are used to train the encoder and decoder. So the encoder is never trained on C4?

[code]

This was confusing as the paper seem to imply that you do an encoder decoder training, using a denoising dataset, as shown in Fig 2.

[2020-11-29 16:18] craffel commented on #550
No, the pre-training includes both the encoder and decoder. Masked input sequences are fed into the encoder, and the decoder fills in the masked tokens by attending to the encoder output.

[2020-11-29 16:18] #550 closed

[2020-11-29 20:18] maziyarpanahi opened #551 "Use exported T5 SavedModel in TensorFlow Java"
Hi,

I am planning to run some fine-tuning experiments, but before doing that I wanted to be sure I can use the SavedModel in TensorFlow Java which is only 1.15.0 at the moment.

To do a simple test, I used this [notebook](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/notebooks/t5-deploy.ipynb) and exported `small_ssm_nq` model. Checking `saved_model_cli` I can s

[2020-11-30 03:54] ontocord commented on #550
Got it. Thanks @craffel

[2020-11-30 14:21] adarob commented on #551
What version of tf are you using when doing the export?

On Sun, Nov 29, 2020, 3:18 PM Maziyar Panahi <notifications@github.com>
wrote:

[2020-11-30 14:30] maziyarpanahi commented on #551
Hi @adarob,

I used the latest 2.3 if I am not mistaken (the default that comes with Colab, same demo notebook for exporting models). I did try with TF 1.15.0 on Colab, however, there was this error when I executed the export:

[code]

[code]

However, I didn't use any `tf.disable_v2_behavior()` as I've seen in another notebook. I used this notebook without any change: https://github.com/google-re

[2020-11-30 14:32] adarob commented on #551
You should try doing `%tensorflow_version 1.x` before doing any imports.

On Mon, Nov 30, 2020 at 9:30 AM Maziyar Panahi <notifications@github.com>
wrote:

[2020-11-30 14:33] maziyarpanahi commented on #551
thanks @adarob

I'll try it shortly and come back to you, many thanks.

[2020-11-30 16:03] adarob commented on #549
If you use a seed in the mesh_train_dataset_fn and set skip_seen_data to True, it will continue the dataset where you left off

https://github.com/tensorflow/mesh/blob/f6aceac90dbe2602b1478270c43690308a599079/mesh_tensorflow/transformer/utils.py#L1610

[2020-11-30 18:25] maziyarpanahi commented on #551
@adarob
I have tried to export with `%tensorflow_version 1.x`, after trying to load it in Java, I am still seeing the same error.
Just to be sure I am exporting it the right way for TF v1, here is the link to simple Colab:
https://colab.research.google.com/drive/1vfTGbbo_Ptg2dYiQXIQab4217upWyowO?usp=sharing

[2020-11-30 18:48] adarob commented on #551
For the latest issue, you're seeing the error when you export the model or
when you load it?

On Mon, Nov 30, 2020 at 1:25 PM Maziyar Panahi <notifications@github.com>
wrote:

[2020-11-30 20:03] maziyarpanahi commented on #551
@adarob

The export goes fine either with default TF V2 or as you suggested by using `tensorflow_version 1.x`. (no more error in export with this magic)

However, in both exported models (V2 and V1) I still have the following error in TensorFlow Java:
[code]

A little more observation on `tensorflow_version 1.x`:

When I use `tensorflow_version 1.x`, I no longer can load the saved model for predic

[2020-11-30 20:15] adarob commented on #551
Try doing also `!pip install "tensorflow<2"` after you install t5. I think
when you call the `t5_mesh_transformer` binary, it ignores the magic.

On Mon, Nov 30, 2020 at 3:04 PM Maziyar Panahi <notifications@github.com>
wrote:

[2020-11-30 20:58] maziyarpanahi commented on #551
Thanks @adarob, I've tried the following at the beginning:

[code]

Unfortunately, I still get the same error when I try to load the SavedModel in Python. Is it possible that the latest `t5` PyPI is only TF v2 compatible and not 1.15.x?

[2020-12-01 15:22] jayendra13 opened #555 "export_beam_size option is not working."
I am trying to export the `t5-small` model with `export_beam_size=5` but the exported model always gives the single output.

Here is the colab to reproduce the issue.
https://colab.research.google.com/drive/1eu4O7jeV_1lLfVp5zFvnFiU_9GbXlTs1?resourcekey=0-28MU8r1JMvm80IrODHdCdQ&usp=sharing

[2020-12-02 03:31] craffel commented on #555
The beam size specifies how many candidates are considered during beam search. It will always return the most likely beam, and will never return more than one sequence.

[2020-12-02 03:31] #555 closed

[2020-12-02 05:45] jayendra13 commented on #555
Ok got it, is there any way to get the output from all the beams, with the API(i.e. without modifying the code?).

[2020-12-02 15:25] craffel commented on #555
No, sorry.

[2020-12-02 16:37] jayendra13 opened #558 "finetuning stucks running from command-line, but runs in ipython"
I have created a [finetuneing script](https://gist.github.com/jayendra13/224bacf22b411224fb444fcbbd25da21#file-t5test-py) from the [t5-trivia notebook](https://github.com/google-research/text-to-text-transfer-transformer/blob/master/notebooks/t5-trivia.ipynb) .
The script mentioned above works if I run the code from the ipython, but hangs if I run the code from the commandline.

No log gets printe

[2020-12-02 16:53] craffel commented on #540
This is an issue for mesh tensorflow - feel free to take it up there.

[2020-12-02 16:53] #540 closed

[2020-12-03 15:02] craffel commented on #558
Try passing the tpu name, zone, and project directly into the MtfModel initialization arguments rather than using cluster resolver to get the address.

https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/mtf_model.py#L47

[2020-12-03 15:12] jayendra13 commented on #558
I have tried that but it doesn't make any difference.

[2020-12-03 15:18] craffel commented on #558
Is your TPU in running status? Was it pre-empted or shut down? Are your gcloud credentials set up? If you are passing in those arguments correctly, there's not a lot I can do to debug - we use this codepath all the time on Cloud without issue.

[2020-12-04 01:43] vkaul11 commented on #468
Is this issue fixed ?

[2020-12-04 03:25] chrisrytting commented on #468
Not for me. With a newer version of tfds-nightly, tensorflow, pip, apache-beam, my job crashes with a different error before I get to the above stack trace, so I don't know whether this issue is fixed or not yet. The new issue I'm facing is in tensorflow datasets issue tracker [here](https://github.com/tensorflow/datasets/issues/2827#issue-756641297).

[2020-12-06 20:08] nkruglikov opened #566 "Update custom tokenizer instruction"
Hi,

I was trying to train a new SentencePiece tokenizer for T5. According to README, in order for tokenizer to be compatible with your code, it should be trained with flags `--pad_id=0 --eos_id=1 --unk_id=2`. However, it causes an obscure error when applied to actual SentencePiece. After some digging around, I discovered that you should also add option `--bos_id=-1`, and found a confirmation that

[2020-12-07 13:03] maziyarpanahi commented on #551
@adarob
I gave this a few more shots, but no matter what the `ParallelMapDatasetV2` ops is required in the exported model regardless of the TF version.

Is `ParallelMapDatasetV2` really required for `inference`? I am assuming it's related to TF Datasets so it must be useful for the training and fine-tuning, but for the prediction can it be removed somehow before the export?

[2020-12-07 14:25] craffel commented on #566
What instruction/readme are you referring to?

[2020-12-07 14:41] adarob commented on #551
I think the only map comes in through this line: https://github.com/tensorflow/mesh/blob/83d1e0f8f7bdd088241e1d7c64a0d914f8ec0ad1/mesh_tensorflow/transformer/utils.py#L1985

You could potentially avoid a map if you remove this and pass in tokens directly.

[2020-12-07 14:41] #551 closed

[2020-12-07 15:45] nkruglikov commented on #566
The main README of this repo. Quote:

[2020-12-08 07:59] Huagela commented on #476
same error :
`AttributeError: module 'gin' has no attribute 'configurable'`

[2020-12-09 08:33] dpanshu opened #574 "Running pre-training on a large text with multiple files on gs://path/to/dataset"
Hi,

I have a large set of text present in google cloud which is around 100B tokens stored in 10,000 files as `gs://path/file.00001.txt` etc. It is not possible to download all the files locally on the TPU. How can I go about pre-training a model from scratch for such a dataset?

What should be dataset function look like? and do I need to make any changes to the training command that I can use for

[2020-12-09 15:31] craffel commented on #574
You should create a `TextLineTask` https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/dataset_providers.py#L1050 and use its name in place of "wikipedia_20190301.en_v003_unsupervised" in your command. However, reading from text files on GCS may be slow; you might want to cache it first https://github.com/google-research/text-to-text-transfer-transformer/blob/m

[2020-12-09 15:31] #574 closed

[2020-12-14 04:02] j-min opened #581 "Pretrained weights for Shared Encoder-Decoder"
Hello,

Could you please share the pretrained weights of T5-base model that shares encoder and decoder weights (2nd row)?
Also, it would be helpful if you could clarify which components are shared(ex. self-attention weights, relative position embeddings, layer norms).
![image](https://user-images.githubusercontent.com/18069263/102039030-bcfcb980-3d96-11eb-903b-e598e23a63c9.png)

[2020-12-14 18:36] craffel commented on #581
Hey Jaemin, note that the shared model is not T5-Base, it's just the baseline from the paper (so, it was pre-trained for a lot less time, and it was trained on a slightly-worse objective on unlabeled data only, etc - basically works quite a bit worse than T5-Base). All parameters that could be shared were shared (so, everything except encoder-decoder attention). If you are still interested in that

[2020-12-15 03:22] dpanshu commented on #574
@craffel , I am getting the following warning when caching , my data set is 10B lines
[code]

[2020-12-16 10:34] marton-avrios opened #588 "adding prefix to targets instead of inputs"
I wander if it's possible to train t5 for a scenario where you always feed the same input but depending on how the target sequence starts it outputs different things? So conditional text generation conditioned on encoder output and a prefix. Basic way to do it would be to just simply remove prefix from input, add it to target and train the model. When decoding with the trained model it would work

[2020-12-16 15:37] craffel commented on #588
Hi, this would be simple to implement in our codebase - you just need to implement a preprocessor that appends the prefix to the targets rather than the inputs. Basically do the tf.strings.join to targets rather than inputs here:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/preprocessors.py#L95

[2020-12-16 15:37] #588 closed

[2020-12-16 21:23] trisongz opened #592 "Batch Size vs Sequence Length"
Hi,

I've been working with the mT5 models recently, and wanted to get a better understanding of the dataset input function during training.

I've looked closely at mesh_tf's data_fn but wasn't able to get a clear answer on the mechanics.

For sequence_length, I've used different permutations, including:

'sequence_length': {'inputs': 512, 'targets': 2048}
'sequence_length': {'inputs': 512, 'targe

[2020-12-17 01:22] vkaul11 opened #593 "benchmarking inference times for t5 models"
Is there any benchmarking available for t5 models of various sizes on CPUs and GPUs? I got the following numbers on 16 GB GPU
T5 small: 100ms
T5 base: 150ms
T5 large: 250ms
T5 3B: 500ms
Do these look reasonable?
Also in your experience what are the biggest bottlenecks in inference performance.
1) Sequence Length (Model specified parameter)
2)Input Length (Input length for one example)
3) Decoder O

[2020-12-17 15:22] craffel commented on #593
Hi, we have not benchmarked inference speed on GPUs whatsoever. During inference, the decoder is the bottleneck because sampling is not parallelizeable across time.

[2020-12-17 15:22] #593 closed

[2020-12-17 15:48] craffel commented on #592
Hi, there is no difference at all between the behavior of tokens_per_batch or sequences_per_batch. In short, max(input_length, target_length)*sequences_per_batch = tokens_per_batch. For example, if your input and target sequence lengths are both 512, then tokens_per_batch=8192 is equivalent to sequences_per_batch=16. If there was a different in throughput, it's because you were ultimately specifyi

[2020-12-17 15:48] #592 closed

[2020-12-17 19:17] j-min commented on #581
Oh thanks for pointing the training differences, I just re-read the Sec.3.7 and found the difference with the models in the table and T5-base.
But yes, I'm still interested in the checkpoint anyways.
I'm working on fine-tuning shared encoder-decoder models on seq2seq tasks. I tried copying T5-base decoder weights to encoder and tying them, but it didn't work well. I'd like to see if shared enc-dec

[2020-12-17 19:42] craffel commented on #581
Hi Jaemin, I copied the checkpoint to gs://t5-data/tmp. Please copy it elsewhere and let me know when you've done so, and I will go ahead and delete it.

[2020-12-17 19:55] j-min commented on #581
Just downloaded the checkpoints, thanks!
If you later have plan to do additional experiments like T5 v1.1, please consider including a shared enc-dec version :)
It would help community seeking models with less memory (like myself) and [this paper](https://arxiv.org/pdf/2003.01473.pdf) found it helpful to share enc-dec for image captioning.

[2020-12-17 21:55] dpanshu opened #598 "Error when pre-training the base model"
I am taking the original T5 models and pre-training them on a new dataset and I am getting the following error using the command below
[code]

[code]

[2020-12-17 22:03] craffel commented on #598
The name of the `layer_norm` layer changed in https://github.com/tensorflow/mesh/commit/a8df7240f9174e03651e7fbd1ea52006f07a46a1 If you are using an old checkpoint, you should set
[code]
in your gin file.

[2020-12-17 22:03] #598 closed

[2020-12-17 23:38] dpanshu commented on #598
which gin file are you pointing to here? I am pointing to the default trained model here

[2020-12-17 23:51] dpanshu commented on #598
Thanks @craffel

[2020-12-18 15:45] #581 closed

[2020-12-22 23:45] dpanshu opened #606 "Generating multiple output for same query"
Hi,

I am trying to generate multiple hypothesis given a single input. Say for conversational system, my training data has following data
[code]

Now, during inference time, I would like to generate multiple output for same input. How can I do that in T5?

[2020-12-23 01:22] vkaul11 opened #608 "training translation task with multiple options for the same input"
How can I use my training data with two possible outputs for the same input in case of machine translation task from Spanish->English. Say "Cómo está usted?"-> "How are you?" and  "Cómo está usted?" -> "How do you do?".
How do I use both examples in training or do I have to pick only one always? I don't seem to get the errors to  converge if I use both examples separately.

[2020-12-23 15:30] craffel commented on #608
You can use both examples in your training data, this is quite common.

[2020-12-23 15:30] #608 closed

[2020-12-23 15:31] craffel commented on #606
If you use a stochastic sampling strategy (e.g. not greedy sampling), each time you decode from the model it will sample a new (possibly different) output. There is no way to force it to generate different outputs, though - it is random.

[2020-12-23 15:31] #606 closed

[2020-12-23 15:53] vkaul11 commented on #608
So just feed them as separate examples at training time ? Thanks. Can we use the same scheme for multi-label classification problem. For example if we have to find an utterance category among several categories and we have examples that have multiple categories.  "What is Harry Potter" -> "Book" and "What is Harry Potter" -> "Movie" where "Book" and "Movie" are separate categories. So we can just

[2020-12-23 15:55] craffel commented on #608
Yes, that is fine. I would recommend computing the log probability of each possible label at test time, and using those for scores.

[2020-12-23 15:56] vkaul11 commented on #608
So basically limit the decoder output to the classification categories we have at test time instead of using the entire vocabular?

[2020-12-23 16:01] craffel commented on #608
You can do that too, but I was just referring to computing the log probs.

[2020-12-23 16:32] vkaul11 commented on #608
But how do I extract log probs from the decoder? It is a Vocabulary * T (time steps matrix) right ? How to isolate and compute the log probability on the decoder side.

[2020-12-23 16:36] craffel commented on #608
Use one of the score modes from the MTF transformer.

[2020-12-23 16:38] vkaul11 commented on #608
Thanks a lot for your help. Besides the score mode,  I guess we need to dig deeper into MTF transformer code to restrict the decoder outputs to certain tokens also?

[2020-12-23 18:51] dpanshu commented on #606
@craffel is there a gin file on the sampling strategy ?

[2020-12-23 19:02] craffel commented on #606
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/models/gin/sample_decode.gin

[2020-12-23 19:05] dpanshu commented on #606
What variable is need to be changed to implement stochastic sampling instead of beam=1 greedy decoding
?

[2020-12-23 19:06] craffel commented on #606
The file I posted.

[2020-12-23 19:16] dpanshu commented on #606
Thanks

[2020-12-23 20:45] dpanshu commented on #606
Can I generate multiple output with exported model "saved_model.pb" as well ?

[2020-12-24 12:56] juliahane opened #611 "How T5 handles COPA and other multiple choice datasets"
Hi
I found the description of COPA in the paper as below:

[code]
1) T5 concatenates all candidates answers and then for the target it uses "true"? I did not get how this is working since the target to be needs to be 1.

2) If the number of choices are more than two, could you please assist in saying how T5 convert multiple choice datasets? Assuming commonsense_qa, there are answers list of A-E an

[2020-12-24 18:24] mlnlpenthusiast opened #612 "unsupervised Fine tuning"
Hello, I apologize if this question is already answered.
I was wondering if T5 can be fine tuned with domain specific data . Intention is to perform unsupervised fine tuning without specific to any task. Please provide any examples if you have any

thank you

[2020-12-25 12:53] pvop opened #613 "Layer normalization"
In Section 2.1, "We use a simplified version of layer normalization where the activations are only rescaled and no additive bias is applied". I wonder why this change was made. For speed or better result?
Thank you for your time!

[2020-12-25 15:09] craffel commented on #613
Yes, it makes very little difference in terms of final model quality but is marginally faster. The additive bias is simply unnecessary. This paper proposes a similar thing with similar findings: https://arxiv.org/abs/1910.07467

[2020-12-25 15:09] #613 closed

[2020-12-25 15:18] craffel commented on #612
Hi, yes, this is possible and simple and we have done it in the past. The easiest way to do it is to create a new task exactly like this one:
https://github.com/google-research/text-to-text-transfer-transformer/blob/master/t5/data/tasks.py#L42
but with a different tfds_name (or if you want to use a TextLineTask or some other non-TFDS type, just change the task type).

[2020-12-25 15:18] #612 closed

[2020-12-25 15:21] craffel commented on #611
1. False means choice1 and True means choice2. It's a bit funky but we just used our standard way of converting binary classification tasks, which is what COPA is.
2. The task format is totally up to you, there is no specific way that T5 converts multiple choice datasets. But yes, I would do something like

inputs = "question: The sanctions against the school were a punishing blow, and they seemed

[2020-12-25 15:21] #611 closed

[2020-12-28 13:11] adarob commented on #611
You could consider using the rank_classification preprocessor.

On Fri, Dec 25, 2020 at 10:21 AM Colin Raffel <notifications@github.com>
wrote:

[2020-12-30 11:12] antoniomastro1996 opened #624 "Special tokens"
**Hi All!**

I was asking if there is a way to extend the set of special tokens that during the pre-training and the fine-tuning, I do not want the model mask.
For example in hugging face I can do the following:
tokenizer.add_special_tokens({'additional_special_tokens': ['<special_token1>','<special_token2>'})

I also have another question, if, during the fine-tuning, I'm going to use "extra_id_X"

[2020-12-30 18:59] #624 closed

[2020-12-30 19:34] dkamalakar opened #630 "Question on SentencePiece and T5"
Hello, This is more of a curious question than anything else. Since T5 uses SentencePiece for embedding, I was wondering if it will have adverse impact when using domain specific tokens ? SentencePiece paper talks about lossless tokenization and I belive it confirms that there wont be issue. I am planning to review sentiencepiece in details, but wanted to raise it here

Thank you for your feedback

[2020-12-30 19:38] craffel commented on #630
The model used for T5 did not have byte fallback enabled, so it is not lossless. If you want a model that can do lossless tokenization, you should use mT5, which has byte fallback enabled.

[2020-12-30 19:38] #630 closed

[2020-12-30 21:21] dkamalakar commented on #630
Thank you for your response
I might have Mia understood lossless training
I am not really interested in multi lingual model
My question mostly was around ability for domain adaptation using T5. In other words, will I be able to pre train T5 using domain specific data ? My data may contain tokens specific to my domain and want to make sure sentence piece will not mess it up

Thanks

Sent from my iP

[2020-12-31 02:41] craffel commented on #630
mT5 works as well as T5 on English data.

Yes.

The sentencepiece model in T5 is not lossless, the one in mT5 is lossless. I don't know what your special tokens are so I have no idea if the T5 sentencepiece model will mess them up or not.

[2020-12-31 08:03] antoniomastro1996 opened #631 "Strange error during evaluation"
Hi guys, I Just found this strange error during the evaluation step

INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:CPU:0, CPU, -1, -3667435572919743971)
INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:worker/replica:0/task:0/device:TPU:0, TPU, 17179869184, -2340797435506957505)
INFO:tensorflow:*** Available Device: _DeviceAttributes(/job:w

[2021-01-04 11:10] antoniomastro1996 opened #632 "Pre-train on custom masked dataset"
Hi everybody!

Basically, I want to pre-train T5 on a dataset I've already masked(I.e: I have the masked input with <extra_id_XX> tokens and the labels).

input =  'The <extra_id_0> walks in <extra_id_1>
output = '<extra_id_0> cute dog <extra_id_1> the <extra_id_2>'

Is this possible with your implementation?

Thanks in advance!

[2021-01-04 11:10] #631 closed

[2021-01-04 11:10] antoniomastro1996 commented on #631
There was a mis-match between two different version.

[2021-01-04 15:08] craffel commented on #632
Yes, this should work. If it doesn't, let us know.

[2021-01-04 15:08] #632 closed

[2021-01-04 16:17] dkamalakar opened #633 "Imbalanced Data Question - T5 finetuning"
Hello, A question regarding the multi task fine tuning. Suppose I continue to fine tune my model for multi task but one kind of task has significantly low data compared to other tasks...does it make the task with less data perform worst than the data which has more data ? I guess my question is, even though you fine tune for different task types are they somehow related ?

[2021-01-04 17:02] craffel commented on #633
It is typically the case that a task with less data will perform worse than a task with more data. In multi-task learning, if one task has a small training dataset and another has a large training dataset and they are similar tasks, you can often see benefits in the limited-data task. UnifiedQA provides some example of this effect https://arxiv.org/abs/2005.00700

[2021-01-04 17:02] #633 closed

[2021-01-05 12:20] antoniomastro1996 opened #634 "Problem with custom sentencepiece model"
Hi guys,

I trained from scratch a new sentencepiece model on my pretraining dataset, however I still get unk tokens. Do you know why? I remember the last summer was working smoothly!
Specifically:  ⁇ extra_id_0>  ⁇ @ ⁇ extra_id_1>
Furthermore, the same ?? is present even for curly brace '{'

Thanks in advance